<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<form th:action="@{/privilegios/listar}">
				<div class=" layout-content">
					<a class="btn btn-outline-light oi oi-action-undo" type="button" href="javascript:history.back()"></a>
					<a class="btn btn-outline-light oi oi-action-redo" type="button" href="javascript:history.forward()"></a>
										
				</div>
			</form>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>
			<form
				th:action="@{/relatoriosExcepcionalidades/selecionarRubricas/exporta/pdf} "
				th:object="${fonteMes}" method="POST">
				<div class="form-row">

					<div class="form-group col-md-6">
						<label for="nome" class="fonte-tutulos-tamanho">Relatorios Pessoas com Rubricas</label>
							
								<p></p>		
								
								
						<label for="nome" class="">Mês</label>
						<select Style="width:1000px;" id="idCodDiferenciadoFk" class="form-select" th:field="*{anoMes}">
								<option value="">Selecione o Mês </option>
								<option class="form-select" th:each="d : ${idAnoMesFk}" th:value="${d.id}"th:text="${d.nomeAnoMes}" selected >ADM</option>
						</select>							
						<p></p>			
						
						<input type="hidden" id="fonte" th:field="*{fonte}" />		
											
						<button class="btn btn-outline-dark">Relatório</button>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>
