<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<form action="/coordenacaoescalas/listar">
				<div class=" layout-content">
					<a class="btn btn-outline-light oi oi-action-undo" type="button" href="javascript:history.back()"></a>
					<a class="btn btn-outline-light oi oi-action-redo" type="button" href="javascript:history.forward()"></a>    
					<button class="btn btn-outline-dark" >Listar</button>
					<a class="btn btn-outline-dark btn-md" href="/coordenacaoescalas/cadastrar"
						role="button"> <span class="oi oi-plus" title="Cadastro"
						aria-hidden="true"></span> <span>Novo</span>
					</a>
				</div>
			</form>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>
			<form
				th:action="${coordenacaoEscala.id == null} ? @{/coordenacaoescalas/salvar} : @{/coordenacaoescalas/editar}"
				th:object="${coordenacaoEscala}" method="POST">
				<div class="form-row">

					<div class="form-group col-md-6">
						<label for="nome" class="fonte-tutulos-tamanho">Cadastro de coordenação Escala</label>
							
							<input type="text"
								class="form-control form-control-md" autofocus="autofocus"
								id="nomeCoordenacao" placeholder="Coordenacao" th:field="*{nomeCoordenacao}" /> 
							<p></p>
							
							<select id="idAtividadeFk" class="form-select" th:field="*{idAtividadeFk}">
								<option value="">Selecione a Atividade</option>
								<option class="form-select" th:each="d : ${idAtividadeFk}" th:value="${d.id}"th:text="${d.nomeAtividade}" selected >ADM</option>
							</select>								
							<p></p>
							
							<select id="idLocalidadeFk" class="form-select" th:field="*{idLocalidadeFk}">
								<option value="">Selecione a Localidade</option>
								<option class="form-select" th:each="d : ${idLocalidadeFk}" th:value="${d.id}"th:text="${d.nomeLocalidade}" selected >ADM</option>
							</select>								
							<p></p>
								
							<input type="hidden" id="id" th:field="*{id}" />
								<p></p>					
						<button class="btn btn-outline-dark">Cadastrar</button>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>
