<!DOCTYPE html>
<html layout:decorate = "~{layout}">
<head><meta charset="UTF-8"/></head>
<body>	
	<section class="layout-content" layout:fragment="corpo">		
		<nav class="navbar navbar-expand-md bg-light">    
	    	<a class="btn btn-outline-light oi oi-action-undo" type="button" href="javascript:history.back()"></a>
			<a class="btn btn-outline-light oi oi-action-redo" type="button" href="javascript:history.forward()"></a>    
	        <a class="btn btn-outline-dark btn-md" th:href="@{/escalas/listar/escala/alteracao/global}" role="button">
	        	<span class="oi oi-loop-square" title="Atualizar" aria-hidden="true"></span>
	            <span>Atualizar</span>
	        </a>
	            <label for="nome" class= "fonte-tutulos-tamanho">Escalas Lançadas/Excluídas (Sede)</label>
	    </nav>
	  		<div class="container">
	  			<label style="text-align: center; color:#008080;" th:text="${mes.nomeAnoMes+'-TODOS'}" class="text" >Mes </label>
			</div>
	  	
	  	<div class="container">
	    	<p>                
	        	<button class=" oi oi-magnifying-glass btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#collapseNome"
	            		aria-controls="collapseNome">Filtrar Nome
	            </button>  
	            <button class=" oi oi-cloud-download btn btn-outline-secondary my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#collapseDownload"
	            		aria-controls="collapseDownload">Download
	            </button>
            
	            <p></p>
	      
	      <div class="row">
	      	<div class="col">
	        	<div class="collapse" id="collapseNome">
		            <nav class="navbar navbar-light bg-light">
	    	           <form class="form-inline" method="GET" th:action="@{/escalas/buscar/nome/escala/alteracao/global}">	        	           
	        	           <input class="form-control mr-sm-2" type="search" placeholder="Nome" aria-label="Search"
	                              th:name="nome"/> 
	                       <button class="btn btn-outline-success my-2 my-sm-0">Buscar</button> 
	                   </form>  
	                </nav>
	            </div>
	        </div>
	    </div>
	    
	   
	    
	    <div class="row">
	      	<div class="col">
	        	<div class="collapse" id="collapseDownload">
		            <nav class="navbar navbar-light bg-light">
	                	<form class="form-inline" method="GET" th:action="@{/cidades/buscar/id/uf}">
	                   		
	                        <a class="btn btn-outline-success btn-md" href="/escalas/exporta/excel/escala/alteracao/global" role="button">
				        		<span class="oi oi-cloud-download" title="exportaExcel" aria-hidden="true"></span>
				            	<span>Exporta Excel</span>
				       	    </a>
				       	    
				       	    <a class="btn btn-outline-danger btn-md" href="/escalas/exporta/pdf/escala/alteracao/global" role="button">
				        		<span class="oi oi-cloud-download" title="exportaPdf" aria-hidden="true"></span>
				            	<span>Exporta Pdf</span>
				       	    </a>
	       	    
	                  </form>
	                </nav>
	            </div>
	        </div>
	    </div>
	    	    
	    <div style=" left:0px;"  id="listagem">	        
	    	<div th:replace="fragments/alert"></div>
	    	
	    	
	    	
	        <div style=" left:0px; height: 470px;  overflow-y: auto;" class="table-responsive">
	        	<table style="width: 1230px;" class="table table-striped table-hover table-sm myTable" >
	            	<thead>
	          			<tr>
		                	<th style="font-size:10px;" >#</th>
		                	<th style="font-size:10px;" >Escala</th>
		                	<th style="font-size:10px;" >Ver</th>
		                    <th style="font-size:10px;" >Nome</th>
		                    <th style="font-size:10px;" >Cargo</th>
		                    <th style="font-size:10px;" >Turm</th>
		                    <th style="font-size:10px;" >Hr</th>
		                    <th style="font-size:10px;" >Mudança</th>
		                    <th style="font-size:10px;" >Quem Mudou</th>
		                    
		                                        
	                    </tr>
	                </thead>                  
	                <tbody>
		            	<tr th:each="d : ${listaEscala}">
		                	<td style="font-size:10px;"  th:text="${d.id}"></td>
		                	<td style="font-size:10px;"  th:text="${d.idCoordenacaoFk.idLocalidadeFk.idUnidadeFk.nomeFantasia+'-'+d.idCoordenacaoFk.nomeCoordenacao+'-'+d.idCoordenacaoFk.idLocalidadeFk.nomeLocalidade+'-'+d.idCoordenacaoFk.idAtividadeFk.nomeAtividade}"></td>
		                    <td>
				                <div class="btn-group">
				                    <button style="width:35px; height:25px; text-align:center; font-size:09px; " type="button" class="btn btn-outline-dark btn-sm dropdown-toggle" data-toggle="dropdown">
				                        <span class="oi oi-eye"></span>
				                    </button>
				                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
				                        
				                        <li>
				                        	<a th:text="'CPF: '+${d.idFuncionarioFk?.idPessoaFk?.cpf}" style="width:155px; height:25px; text-align:left; font-size:09px;  " role="button"></a><br>
				                        	<a th:text="'Matrícula: '+${d.idFuncionarioFk?.matricula}" style="width:155px; height:25px; text-align:left; font-size:09px;  " role="button"></a><br>
				                        	<a th:text="'Ch Semanal: '+${d.idFuncionarioFk?.idCargaHorariaAtualFk.cargaHoraria} " style="width:155px; height:25px; text-align:left; font-size:09px;  " role="button"></a><br>
				                        	<a th:text="${d.idFuncionarioFk?.idEspecialidadeAtualFk?.idCargoFk?.idNivelCargoFk?.nomeNivelCargo} " style="width:155px; height:25px; text-align:left; font-size:09px;  " role="button"></a><br>
				                        	<a th:text="'Folha: '+${d.idTipoFolhaFk?.nomeTipoFolha}" style="width:155px; height:25px; text-align:left; font-size:09px;  " role="button"></a><br>
				                        	<a th:text="'Regime: '+${d.idRegimeFk?.nomeRegimeDeTrabalho}" style="width:155px; height:25px; text-align:left; font-size:09px;  " role="button"></a><br>
				                        	<a th:text="'Complemento Plantão: '+${d.idComplementoPlantaoSimNaoFk?.descricao}" style="width:155px; height:25px; text-align:left; font-size:09px;  " role="button"></a><br>
				                        	<a th:text="'Incremento Risco: '+${d.idIncrementoDeRiscoSimNaoFk?.descricao}" style="width:155px; height:25px; text-align:left; font-size:09px;  " role="button"></a><br>
				                        	<a th:text="'Presencial: '+${d.idPresencialSimNaoFk?.descricao}" style="width:155px; height:25px; text-align:left; font-size:09px;  " role="button"></a><br>
				                        	<a th:text="'Obs: '+${d.observacoes}" style="width:155px; height:25px; text-align:left; font-size:09px;  " role="button"></a>
				                        	
				                        </li>
				                        
				                    </ul>
				                </div>
				            </td>		                    
		                    		                    
		                    
		                    <td> 
		                    	<a style="width:150px; height:25px; text-align:center; font-size:09px; " class="link" th:text="${d.idFuncionarioFk.idPessoaFk.nome}" th:href="@{/escalas/ver/escala/alteracao/{id} (id=${d.id}) }" role="button">
					            	<span class="" title="Editar Escala" aria-hidden="true">Ver Alterações</span>
					            </a>
		                    </td>
		                    <td style="font-size:10px;"  th:text="${d.idFuncionarioFk.idEspecialidadeAtualFk.idCargoFk.nomeCargo+'-'+d.idFuncionarioFk.idEspecialidadeAtualFk.nomeEspecialidadeCargo}"></td>
		                    
		                    <td style="font-size:10px;"  th:text="${d.idTurmaFk.nomeTurma}"></td>
		                    <td style="font-size:10px;"  th:text="${d.horasTotais}"></td>
		                    
		                    <td style="font-size:10px;"  th:text="${d.dtCancelamento != null} ? ${'CANCELAMENTO em '+#dates.format(d.dtCancelamento, 'dd/MM/yyyy') +' as '+ #dates.format(d.horaAlteracao, 'hh:mm:ss:sss a ')} : ${'EDICAO em '+#dates.format(d.dtAlteracao, 'dd/MM/yyyy') +' as '+ #dates.format(d.horaAlteracao, 'hh:mm:ss:sss a ')}   "></td>
		                    <td style="font-size:10px;"  th:text="${d.idOperadorMudancaFk.idPessoaFk.nome}"></td>
		                    
		                    
							<!-- 
		                    <td colspan="2">
		                    	
		                    	<a style="width:25px; height:25px; text-align:center;" class="btn btn-outline-info btn-sm" th:href="@{/escalas/alterar/escala/{id} (id=${d.id}) }" role="button">
		                        	<span class="oi oi-brush" title="Editar Escala" aria-hidden="true"></span>
		                        </a>
		                        <a style="width:25px; height:25px; text-align:center;" class="btn btn-outline-warning btn-sm" th:href="@{/escalas/alterar/avaliacao/{id} (id=${d.id}) }" role="button">
		                        	<span class="oi oi-folder" title="Avaliação (NOTA)" aria-hidden="true"></span>
		                        </a>
		                         
		                        <button style="width:25px; height:25px; text-align:center;  font-size:09px; " th:id="${ 'btn_escalas/cancelar/' + d.id}" type="button" class="btn btn btn-outline-danger btn-sm" 
		                            		data-toggle="modal" data-target="#myModal">
		                                <span  class="oi oi-circle-x" title="Exclusão habilitada" aria-hidden="true"></span>
		                        </button>
		                        
		                   	</td>
		                   	-->
		                   	
		                   	
						</tr>
					</tbody>                    
	            </table>                 
	         </div>
		</div>
		 <nav aria-label="Page navigation example">
		 
		 <div style="font-size:12px;" > Quantidade de registros: [[${totalItems}]]<br>  Página: [[${currentePage}]] de [[${totalPages}]] </div> 
		 <div>
		 	<span >
		 		<a></a>
		 		<samp >[[${i}]]</samp> &nbsp; &nbsp;
		 	</span>
		 </div>
		 	<ul class="pagination justify-content-center" >
		 		<li class="page-item disabled" ></li>		 		
	
			 	<li ><a class="btn btn-light btn-paginacao oi oi-media-step-backward" th:if="${currentePage != i}"  th:href="@{'/escalas/paginar/escala/alteracao/global/'+ 1 }" ></a></li>
			 	
			 	<li ><a class="btn btn-light    btn-paginacao    oi oi-media-skip-backward" th:if="${currentePage > 1}"  th:href="@{'/escalas/paginar/escala/alteracao/global/'+ ${currentePage -1}}" ></a></li> 
			 	
			 	<li ><a class="btn btn-light    btn-paginacao oi" th:if="${currentePage > 1000}"  th:href="@{'/escalas/paginar/escala/alteracao/global/'+ ${currentePage-1000} }" >-1000</a></li>
			 	
			 	<li ><a class="btn btn-light    btn-paginacao" th:if="${currentePage > 100}"  th:href="@{'/escalas/paginar/escala/alteracao/global/'+ ${currentePage-100} }" >-100</a></li>
			 	
			 	<li ><a class="btn btn-light    btn-paginacao" th:if="${currentePage > 10}"  th:href="@{'/escalas/paginar/escala/alteracao/global/'+ ${currentePage-10} }" >-10</a></li>

			 	<li ><a class="btn btn-light    btn-paginacao"  th:if="${currentePage < totalPages - 10}"  th:href="@{'/escalas/paginar/escala/alteracao/global/'+ ${currentePage+10} }" >+10</a></li>
			 	
			 	<li ><a class="btn btn-light    btn-paginacao"  th:if="${currentePage < totalPages - 100}"  th:href="@{'/escalas/paginar/escala/alteracao/global/'+ ${currentePage+100} }" >+100</a></li>
			 	
			 	<li ><a class="btn btn-light    btn-paginacao"  th:if="${currentePage < totalPages - 1000}"  th:href="@{'/escalas/paginar/escala/alteracao/global/'+ ${currentePage+1000} }" >+1000</a></li>
			 	
			 	<li ><a class="btn btn-light    btn-paginacao    oi oi-media-skip-forward" th:if="${currentePage < totalPages}"  th:href="@{'/escalas/paginar/escala/alteracao/global/' + ${currentePage +1}}"></a> </li>
		 		
		 		<li ><a class="btn btn-light    btn-paginacao    oi oi-media-step-forward"  th:if="${currentePage != i}"  th:href="@{'/escalas/paginar/escala/alteracao/global/'+ ${totalPages} }" ></a></li> 
		 	</ul>
		</nav>     	        
	    <div th:replace="fragments/modal :: modal"></div>   
	</section>	
</body>
</html>		