<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<form action="/unidades/listar">
				<div class=" layout-content">
					<button class="btn btn-outline-dark ">Listar</button>
					<a class="btn btn-outline-dark btn-md" href="/unidades/cadastrar"
						role="button"> <span class="oi oi-plus" title="Cadastro"
						aria-hidden="true"></span> <span>Novo</span>
					</a>
				</div>
			</form>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>
			<form
				th:action="${unidades.id == null} ? @{/unidades/salvar} : @{/unidades/editar}"
				th:object="${unidades}" method="POST">
				<div class="form-row">
					<div class="form-group col-md-6">
					
						<label for="nome" class="fonte-tutulos-tamanho">Nome Fantasia </label>
						<input type="text"	class="form-control form-control-md" autofocus="autofocus"
						       id="codigo" placeholder="Nome Fantasia" th:field="*{nomeFantasia}" />
						<p></p>
						
						<label for="nome" class="fonte-tutulos-tamanho">Nome Empresarial </label>
						<input type="text"	class="form-control form-control-md" autofocus="autofocus"
						       id="codigo" placeholder="Nome Empresarial" th:field="*{nomeEmpresarial}" />
						<p></p>
						
						<label for="nome" class="fonte-tutulos-tamanho">CNES </label>
						<input type="text"	class="form-control form-control-md" autofocus="autofocus"
						       id="codigo" placeholder="cnes" th:field="*{cnes}" />
						<p></p>
						
						<label for="nome" class="fonte-tutulos-tamanho"> Telefone</label>
						<input type="text"	class="form-control form-control-md" autofocus="autofocus"
						       id="codigo" placeholder="Telefone 1" th:field="*{fone1}" />
						<p></p>
						
						<label for="nome" class="fonte-tutulos-tamanho"> Logradouro</label>
						<input type="text"	class="form-control form-control-md" autofocus="autofocus"
						       id="codigo" placeholder="Logradouro" th:field="*{enderecoLogradouro}" />
						<p></p>
						
						<label for="nome" class="fonte-tutulos-tamanho">Número</label>
						<input type="text"	class="form-control form-control-md" autofocus="autofocus"
						       id="codigo" placeholder="Numero" th:field="*{enderecoNumero}" />
						<p></p>
						
						<label for="nome" class="fonte-tutulos-tamanho">Complemento</label>
						<input type="text"	class="form-control form-control-md" autofocus="autofocus"
						       id="codigo" placeholder="Complemento" th:field="*{enderecoComplemento}" />
						<p></p>
						
						<label for="nome" class="fonte-tutulos-tamanho">Bairro</label>
						<input type="text"	class="form-control form-control-md" autofocus="autofocus"
						       id="codigo" placeholder="Bairro" th:field="*{enderecoBairro}" />
						<p></p>
						
						<label for="nome" class="fonte-tutulos-tamanho">Cep</label>
						<input type="text"	class="form-control form-control-md" autofocus="autofocus"
						       id="codigo" placeholder="Cep" th:field="*{enderecoCep}" />
						<p></p>
						
						<label for="nome" class="fonte-tutulos-tamanho">Cep</label>
						<input type="text"	class="form-control form-control-md" autofocus="autofocus"
						       id="codigo" placeholder="Cep" th:field="*{enderecoCep}" />
						<p></p>
						
						<select id="cargos" class="form-select" th:field="*{idUfFk}">
								<option value="">Selecione o Estado</option>
								<option th:each="d : ${idUfFk}" th:value="${d.id}"th:text="${d.nomeUf}">ADM</option>
						</select>	
						
						<p></p>
						
						<select id="cargos" class="form-select" th:field="*{idPaisFk}">
								<option value="">Selecione o País</option>
								<option class="form-select" th:each="d : ${idPaisFk}" th:value="${d.id}"th:text="${d.nomePais}" selected >ADM</option>
						</select>	
						
						<p></p>	
												
						<input type="hidden" id="id" th:field="*{id}" />
						<button class="btn btn-outline-dark">Cadastrar</button>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>
