<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<form th:action="@{/documentos/listar}">
				<div class=" layout-content">
					<a class="btn btn-outline-light oi oi-action-undo" type="button" href="javascript:history.back()"></a>
					<a class="btn btn-outline-light oi oi-action-redo" type="button" href="javascript:history.forward()"></a>    	
				</div>
			</form>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>
			<form
				th:action="${pessoaBancos.id == null} ? @{/pessoabancos/salvar} : @{/pessoabancos/salvar}"
				th:object="${pessoaBancos}" method="POST">
				<div class="form-row">

					<div class="form-group col-md-6">
						<label for="nome" class="fonte-tutulos-tamanho">Cadastro de Conta Bancária</label>
							<p></p>	
							
							<label for="nome" class="">Banco </label>
							<select id="cargos" class="form-select" th:field="*{idBancoFk}">
								<option value="">Selecione o Banco</option>
								<option th:each="d : ${idBancoFk}" th:value="${d.id}"th:text="${d.nomeBanco}">ADM</option>
							</select>	
							<p></p>	
							
							<label for="nome" class="">Agência </label>
							<input type="text"
								class="form-control form-control-md uppercase" autofocus="autofocus" 
								id="codigo" placeholder="Agência" th:field="*{agenciaNumero}" /> 
							<p></p>	
							
							<label for="nome" class="">DV Agencia </label>
							<input type="text"
								class="form-control form-control-md uppercase" autofocus="autofocus" 
								id="codigo" placeholder="Dv Agencia" th:field="*{agenciaDv}" /> 
							<p></p>
							
							<label for="nome" class="">Conta </label>
							<input type="text"
								class="form-control form-control-md uppercase" autofocus="autofocus" 
								id="codigo" placeholder="Conta" th:field="*{contaNumero}" /> 
							<p></p>	
							
							<label for="nome" class="">DV Conta </label>
							<input type="text"
								class="form-control form-control-md uppercase" autofocus="autofocus" 
								id="codigo" placeholder="Dv Conta" th:field="*{contaDv}" /> 
							<p></p>
							
							<label for="nome" class="">Nome da Agência (praça) </label>
							<input type="text"
								class="form-control form-control-md uppercase" autofocus="autofocus" 
								id="codigo" placeholder="Nome Agência (praça)" th:field="*{agenciaNome}" /> 
							<p></p>
							
							<label for="nome" class="">Operação/Variação </label>
							<input type="text"
								class="form-control form-control-md uppercase" autofocus="autofocus" 
								id="codigo" placeholder="Operação/Variação" th:field="*{operacaoVariacao}" /> 
							<p></p>
							
							<label for="nome" class="">Prioritário </label>
							<select id="cargos" class="form-select" th:field="*{idPrioritarioFk}">
								<option value="">Prioritário</option>
								<option th:each="d : ${idPrioritarioFk}" th:value="${d.id}"th:text="${d.descricao}">ADM</option>
							</select>	
						
							
							<input type="hidden" id="idPessoaFk" th:field="*{idPessoaFk}" />
							<input type="hidden" id="id" th:field="*{id}" />
							
								<p></p>					
						
						
						<button class="btn btn-outline-dark">Enviar</button>
						<p></p>	
						
						<a class="btn btn-outline-danger btn-sm" th:href="@{/pessoabancos/retroceder}"
							role="button"> <span class="oi oi-arrow-thick-left" title="Cadastro"
							aria-hidden="true"></span> <span>Retroceder</span>
						</a>
						
						<a class="btn btn-outline-success btn-sm" th:href="@{/pessoabancos/avancar}"
							role="button"> <span>Avançar</span><span class="oi oi-arrow-thick-right" 
							title="Cadastro" aria-hidden="true"></span>
						</a>
						
					</div>
				</div>
			</form>
		</div>
		
		
		
		<div class="container" id="listagem">	        
	    	<div th:replace="fragments/alert"></div>
	    	
	        <div style="height: 500px; overflow-y: auto;" class="table-responsive">
	        	<table class="table table-striped table-hover table-sm myTable">
	            	<thead>
	          			<tr>
		                	<th>#</th>
		                    <th>Prioritáio</th>
		                    <th>Banco</th>
		                    <th>Operação/Variação</th>
		                    <th>Agência</th>
		                    <th>Dv</th>
		                    <th>Conta</th>
		                    <th>Dv</th>
		                    <th>Nome (Praça)</th>
		                    <th>Ações</th>
	                    </tr>
	                </thead>                  
	                <tbody>
		            	<tr th:each="d : ${pessoaBancosLista}">
		                	<td th:text="${d.id}"></td>
		                    <td th:text="${d.idPrioritarioFk != null} ? ${d.idPrioritarioFk.descricao} : '' "></td>
		                    <td th:text="${d.idBancoFk != null} ? ${d.idBancoFk.nomeBanco} : '' "></td>
		                    <td th:text="${d.operacaoVariacao != null} ? ${d.operacaoVariacao} : '' "></td>
		                    <td th:text="${d.agenciaNumero != null} ? ${d.agenciaNumero} : '' "></td>
		                    <td th:text="${d.agenciaDv != null} ? ${d.agenciaDv} : '' "></td>
		                    <td th:text="${d.contaNumero != null} ? ${d.contaNumero} : '' "></td>
		                    <td th:text="${d.contaDv != null} ? ${d.contaDv} : '' "></td>
		                    <td th:text="${d.agenciaNome != null} ? ${d.agenciaNome} : '' "></td>
		                    
		                    <td colspan="2">
		                    	<a class="btn btn-outline-info btn-sm" th:href="@{/pessoabancos/editar/{id} (id=${d.id}) }" role="button">
		                        	<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
		                        </a>
		                        <button th:id="${ 'btn_pessoabancos/excluir/' + d.id}" type="button" class="btn btn btn-outline-danger btn-sm" 
		                            		data-toggle="modal" data-target="#myModal">
		                                <span class="oi oi-circle-x" title="Exclusão habilitada" aria-hidden="true"></span>
		                        </button>
		                   	</td>
						</tr>
					</tbody>                    
	            </table>
	         </div>
		</div>	        
		
		
		
		
		
		
		<div th:replace="fragments/modal :: modal"></div>
	</section>
</body>
</html>
