<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<nav class="navbar navbar-expand-md bg-light">		 				 
			<form th:each="d : ${funcionario}" th:action="@{/funcionariosferias/funcionarios/listar}"> 
				<div class=" layout-content">
					<a class="btn btn-outline-light oi oi-action-undo" type="button" href="javascript:history.back()"></a>
					<a class="btn btn-outline-light oi oi-action-redo" type="button" href="javascript:history.forward()"></a>
					<button class="btn btn-outline-dark" >Listar Funcionários</button>
					<!--  <a class="btn btn-outline-dark btn-md" th:href="@{/funcionariosferias/ferias/{id}}"
						role="button"> <span class="oi oi-plus" title="Cadastro"
						aria-hidden="true"></span> <span>Novo</span>
					</a>-->
					<td style="font-size:11px;"  th:text="${d.idPessoaFk.nome}"></td>
					<td style="font-size:11px;"  th:text="${d.idEspecialidadeAtualFk.idCargoFk.nomeCargo+'-'+d.idEspecialidadeAtualFk.nomeEspecialidadeCargo}"></td> 
					<td colspan="2">
				</div>
			</form>
		</nav>
		<div class="container" id="cadastro">	 				    		   
			<div th:replace="fragments/alert"></div>
			<form
				th:action="@{/funcionariosferias/salvar}"
				th:object="${funcionariosFerias}" method="POST">
				<div class="form-row">

					<div class="form-group col-md-6">
						<label for="nome" class="fonte-tutulos-tamanho">Cadastar Férias</label>
						<p></p>	
						<label for="nome" class="">Ano de Referência</label>
							<input type="text"
								class="form-control form-control-md" autofocus="autofocus"
								id="descricao" placeholder="Ano de Referência" th:field="*{anoReferencia}" />						
							<p></p>
														
							<input type="hidden" id="id" th:field="*{id}" />
							<input type="hidden" id="id" th:field="*{idFuncionarioFk}" />
							<input type="hidden" id="id" th:field="*{dtCadastro}" />
							<input type="hidden" id="id" th:field="*{dtCancelamento}" />
							<input type="hidden" id="id" th:field="*{motivoCancelamento}" />
							<input type="hidden" id="id" th:field="*{idUnidadeLancamentoFk}" />
							<input type="hidden" id="id" th:field="*{idOperadorCadastroFk}" />						
							<p></p>					
						<button class="btn btn-outline-dark">Cadastrar</button>
					</div>
				</div>
			</form>
				
	        <div style="height: 500px; overflow-y: auto;" class="table-responsive">
	        	<table class="table table-striped table-hover table-sm myTable">
	            	<thead>
	          			<tr>
		                	<th>#</th>		                
		                    <th>Ano Referência </th>
		                    <th>Ações</th>
	                    </tr>
	                </thead>                  
	                <tbody>
		            	<tr th:each="f : ${feriasLista}">
		                	<td th:text="${f.id}"></td>	
		                	<td > <a th:href="@{/funcionariosferias/periodos/{id} (id=${f.id}) }" ><span th:text="${f.anoReferencia}"></span></a></td>	                    
		                    <td ></td>		                    		           		                  	                    		                     		         		                    
		                    <td colspan="2">		                    	
		                    	<a class="btn btn-outline-info btn-sm" th:href="@{/funcionariosferias/editar/{id} (id=${f.id})}" role="button">
		                        	<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
		                        </a>		                        
		                        <button th:id="${ 'btn_funcionariosferias/excluir/' + f.id}" type="button" class="btn btn btn-outline-danger btn-sm" 
		                            		data-toggle="modal" data-target="#myModal">
		                                <span class="oi oi-circle-x" title="Exclusão habilitada" aria-hidden="true"></span>
		                        </button>		                    			                       
		                   	</td>
						</tr>
					</tbody>                    
	            </table>
	         </div>
		</div>	
		 <div th:replace="fragments/modal :: modal"></div>         
	</section>
</body>
</html>
