<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<form action="/tiposdefolhas/listar">
				<div class=" layout-content">
					<a class="btn btn-outline-light oi oi-action-undo" type="button" href="javascript:history.back()"></a>
					<a class="btn btn-outline-light oi oi-action-redo" type="button" href="javascript:history.forward()"></a>
					<button class="btn btn-outline-dark" >Listar</button>
					<a class="btn btn-outline-dark btn-md" href="/tiposdefolhas/cadastrar"
						role="button"> <span class="oi oi-plus" title="Cadastro"
						aria-hidden="true"></span> <span>Novo</span>
					</a>
				</div>
			</form>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>
			<form
				th:action="${tiposDeFolha.id == null} ? @{/tiposdefolhas/salvar} : @{/tiposdefolhas/editar}"
				th:object="${tiposDeFolha}" method="POST">
				<div class="form-row">

					<div class="form-group col-md-6">
						<label for="nome" class="fonte-tutulos-tamanho ">Cadastro de Tipos de Folha</label>
							
							<input type="text"
								class="form-control form-control-md uppercase" autofocus="autofocus"
								id="nomeTipoFolha" placeholder="Tipo de Folha" th:field="*{nomeTipoFolha}" /> 
							<p></p>
							
							<input type="text"
								class="form-control form-control-md uppercase" autofocus="autofocus"
								id="descricaoTipoFolha" placeholder="Descrição do Tipo de Folha" th:field="*{descricaoTipoFolha}" /> 
							<p></p>
							
							<input type="hidden" id="id" th:field="*{id}" />
								<p></p>					
						<button class="btn btn-outline-dark">Cadastrar</button>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>
