<!DOCTYPE html>
<html layout:decorate = "~{layout}">
<head><meta charset="UTF-8"/></head>
<body>	
	<section class="layout-content" layout:fragment="corpo">		
		<nav class="navbar navbar-expand-md bg-light">
	        <a class="btn btn-outline-light oi oi-action-undo" type="button" href="javascript:history.back()"></a>
			<a class="btn btn-outline-light oi oi-action-redo" type="button" href="javascript:history.forward()"></a>    
	    	<a class="btn btn-outline-dark btn-md" th:href="@{/tiposdefolhas/cadastrar}" role="button">
	        	<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	            <span>Novo</span>
	        </a>
	        <a class="btn btn-outline-dark btn-md" th:href="@{/tiposdefolhas/listar}" role="button">
	        	<span class="oi oi-loop-square" title="Atualizar" aria-hidden="true"></span>
	            <span>Atualizar</span>
	        </a>
	            <label for="nome" class= "fonte-tutulos-tamanho">Lista de Tipos de Folha </label>
	    </nav>
	  	<div class="container">
	    	<p>                
	        	<button class=" oi oi-magnifying-glass btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#collapseNome"
	            		aria-controls="collapseNome">Filtrar
	            </button>
	      </p>
	      <div class="row">
	      	<div class="col">
	        	<div class="collapse" id="collapseNome">
		            <nav class="navbar navbar-light bg-light">
	    	           <form class="form-inline" method="GET" th:action="@{/tiposdefolhas/buscar/nome/tipofolha}">
	        	           <input class="form-control mr-sm-2" type="search" placeholder="Tipo de Filiação" aria-label="Search"
	                              th:name="nomeTipoFolha" />
	                       <button class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
	                   </form>
	                </nav>
	            </div>
	    	</div>
	    </div>
	    
	    
	    <div class="container" id="listagem">	        
	    	<div th:replace="fragments/alert"></div>
	    	
	        <div style="height: 500px; overflow-y: auto;" class="table-responsive">
	        	<table class="table table-striped table-hover table-sm myTable">
	            	<thead>
	          			<tr>
		                	<th style="font-size:10px;" >#</th>
		                    <th style="font-size:10px;" >Nome</th>
		                    <th style="font-size:10px;" >Descrição</th>
		                    <th style="font-size:10px;" >Tipo de Remuneração</th>
		                    <th style="font-size:10px;" >Folha Efetiva</th>
		                    <th style="font-size:10px;" >Incentivo de Risco</th>
		                    <th style="font-size:10px;" >Complemento de Plantao (Folh Efetiva)</th>
		                    <th style="font-size:10px;" >Ações</th>
	                    </tr>
	                </thead>                  
	                <tbody>
		            	<tr th:each="d : ${tiposDeFolha}">
		                	<td th:text="${d.id}"></td>
		                	
		                	<td style="font-size:10px;"  th:text="${d.nomeTipoFolha != null} ? ${d.nomeTipoFolha} : ''  "></td>
		                	<td style="font-size:10px;"  th:text="${d.descricaoTipoFolha != null} ? ${d.descricaoTipoFolha} : ''  "></td>
		                	<td style="font-size:10px;"  th:text="${d.idTipoRemuneracaoFk != null} ? ${d.idTipoRemuneracaoFk.nomeTipoRemuneracao} : ''  "></td>
		                	<td style="font-size:10px;"  th:text="${d.idFolhaEfetivaSimNaoFk != null} ? ${d.idFolhaEfetivaSimNaoFk.descricao} : ''  "></td>
		                	<td style="font-size:10px;"  th:text="${d.idAdmiteIncrementoDeRiscoSimNaoFk != null} ? ${d.idAdmiteIncrementoDeRiscoSimNaoFk.descricao} : ''  "></td>
		                	<td style="font-size:10px;"  th:text="${d.idAdmiteComplementoDePlantaoSimNaoFk != null} ? ${d.idAdmiteComplementoDePlantaoSimNaoFk.descricao} : ''  "></td>
		                	  
		                      	                    
		                    <td colspan="2">
		                    	<a class="btn btn-outline-info btn-sm" th:href="@{/tiposdefolhas/editar/{id} (id=${d.id}) }" role="button">
		                        	<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
		                        </a>
		                        
		                        <a class="btn btn-outline-danger btn-sm" th:href="@{/tiposdefolhas/excluir/{id} (id=${d.id}) }" role="button">
		                        	<span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
		                        </a>
		                        
		                        <button th:id="${ 'btn_tiposdefolhas/excluir/' + d.id}" type="button" class="btn btn btn-outline-danger btn-sm" 
		                            		data-toggle="modal" data-target="#myModal">
		                                <span class="oi oi-circle-x" title="Exclusão habilitada" aria-hidden="true"></span>
		                        </button>
		                   	</td>
						</tr>
					</tbody>                    
	            </table>
	         </div>
		</div>	        
	        <div th:replace="fragments/modal :: modal"></div>   
	</section>	
</body>
</html>		