<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<form action="/bancos/listar">
				<div class=" layout-content">
					
				</div>
			</form>
		</nav>

		<div class="container" id="cadastro">



			<div th:replace="fragments/alert"></div>
			
							
							
							
			
		
		
		<div th:replace="fragments/alert"></div>
		
		<div class="form-group container  col-md-6 col-6 " id="cadastro">

			<label for="nome" class="fonte-tutulos-tamanho">Dados de Funcionários </label>
			
							<p></p>
							<a class="btn btn-outline-danger btn-sm" href="/funcionarios/retroceder"
								role="button"> <span class="oi oi-arrow-thick-left" title="Cadastro"
								aria-hidden="true"></span> <span>Retroceder</span>
							</a>
							<p></p>
			
			<form
				th:action="${pessoaFuncionarios.id == null} ? @{/funcionarios/salvar/funcionario} : @{/funcionarios/salvar/funcionario}"
				th:object="${pessoaFuncionarios}" method="POST">
				<div class="form-row">

					

					<div class="form-group col-md-6">
							
							<input type="text"	
								class="form-control form-control-sm uppercase" autofocus="autofocus" data-mask="000.000.000-0"
								id="codigo" placeholder="Matrícula" th:field="*{matricula}" />
							<p></p>
							
							<input type="number"
								class="form-control form-control-sm uppercase" autofocus="autofocus" data-mask="000000"
								id="codigo" placeholder="Número de Ordem" th:field="*{numeroDeOrdem}" />
							<p></p>
							
							<label>Data Nomeação</label>
							<input type="text"
								class="form-control form-control-sm uppercase" autofocus="autofocus" data-mask="00/00/0000"
								id="codigo" placeholder="Dt Nomeação" th:field="*{dtNomeacao}" />
							<p></p>
							
							<label>Data Posse</label>
							<input type="text"
								class="form-control form-control-sm uppercase" autofocus="autofocus"  data-mask="00/00/0000"
								id="codigo" placeholder="Dt Posse" th:field="*{dtPosse}" />
							<p></p>
							
							<input type="number"
								class="form-control form-control-sm uppercase" autofocus="autofocus" 
								id="codigo" placeholder="Cód Ponto" th:field="*{numeroDePonto}" />
							<p></p>
							
							<select id="cargos" class="form-select" th:field="*{idCargaHorariaAtualFk}">
								<option value="">Selecione a Carga Horária</option>
								<option th:each="d : ${idCargaHorariaAtualFk}" th:value="${d.id}"th:text="${d.cargaHoraria}">ADM</option>
							</select>	
							<p></p>
							
							<select id="cargos" class="form-select" th:field="*{idEspecialidadeAtualFk}">
								<option value="">Selecione a Especialidade</option>
								<option th:each="d : ${idEspecialidadeAtualFk}" th:value="${d.id}"th:text="${d.idCargoFk.nomeCargo+' - '+d.nomeEspecialidadeCargo}">ADM</option>
							</select>	
							<p></p>
							
							<select id="cargos" class="form-select" th:field="*{idVinculoAtualFk}">
								<option value="">Vínculo</option>
								<option th:each="d : ${idVinculoAtualFk}" th:value="${d.id}"th:text="${d.nomeVinculo}">ADM</option>
							</select>	
							<p></p>
							
							<select id="cargos" class="form-select" th:field="*{idCarreiraAtualFk}">
								<option value="">Selecione a Carreira</option>
								<option th:each="d : ${idCarreiraAtualFk}" th:value="${d.id}"th:text="${d.nomeCarreira}">ADM</option>
							</select>	
							<p></p>
							
							<select id="cargos" class="form-select" th:field="*{idClasseCarreiraAtualFk}">
								<option value="">Selecione a Classe</option>
								<option th:each="d : ${idClasseCarreiraAtualFk}" th:value="${d.id}"th:text="${d.nomeClasse}">ADM</option>
							</select>	
							<p></p>
							
							<select id="cargos" class="form-select" th:field="*{idNivelCarreiraAtualFk}">
								<option value="">Selecione o Nível da Carreira</option>
								<option th:each="d : ${idNivelCarreiraAtualFk}" th:value="${d.id}"th:text="${d.nomeNivelCarreira}">ADM</option>
							</select>	
							<p></p>
							
							<select id="cargos" class="form-select" th:field="*{idSituacaoAtualFk}">
								<option value="">Selecione a Situação</option>
								<option th:each="d : ${idSituacaoAtualFk}" th:value="${d.id}"th:text="${d.nomeSituacao}">ADM</option>
							</select>	
							<p></p>
							
							<select id="cargos" class="form-select" th:field="*{idUnidadeLotacaoAtualFk}">
								<option value="">Unidade de Lotação</option>
								<option th:each="d : ${idUnidadeLotacaoAtualFk}" th:value="${d.id}"th:text="${d.nomeFantasia}">ADM</option>
							</select>	
							<p></p>
							
							<select id="cargos" class="form-select" th:field="*{idUnidadeAtuacaoAtualFk}">
								<option value="">Unidade de Atuação</option>
								<option th:each="d : ${idUnidadeAtuacaoAtualFk}" th:value="${d.id}"th:text="${d.nomeFantasia}">ADM</option>
							</select>	
							<p></p>
							
						<button class="btn btn-outline-dark">Submeter</button>
						
						
					</div>
				</div>
			</form>
		</div>
		
		
		
		<div class="container" id="listagem">	        
	    	<div th:replace="fragments/alert"></div>
	    	
	        <div style="height: 500px; overflow-y: auto;" class="table-responsive">
	        	<table class="table table-striped table-hover table-sm myTable">
	            	<thead>
	          			<tr>
		                	<th>#</th>
		                    <th>Matrícula</th>
		                    <th>Nº Ordem</th>
		                    <th>Dt Nomeação</th>
		                    <th>Dt Posse</th>
		                    <th>Ponto</th>
		                    <th>Ch Semanal</th>
		                    <th>Especialidade</th>
		                    <th>Vínculo</th>
		                    <th>Carreira</th>
		                    <th>Classe Carreira</th>
		                    <th>Nível Carreira</th>
		                    <th>Situação</th>
		                    <th>Atuação</th>
		                    <th>Nome</th>
		                    <th>CPF</th>
		                    <th>Ações</th>
	                    </tr>
	                </thead>                  
	                <tbody>
		            	<tr th:each="d : ${pessoaDocumentosLista10}">
		                	<td th:text="${d.id}"></td>
		                	<td th:text="${d.matricula}"></td>
		                    <td th:text="${d.numeroDeOrdem}"></td>
		                    <td th:text="${d.dtNomeacao}"></td>
		                    <td th:text="${d.dtPosse}"></td>
		                    <td th:text="${d.numeroDePonto}"></td>
		                    <td th:text="${d.idCargaHorariaAtualFk.cargaHoraria}"></td>
		                    <td th:text="${d.idEspecialidadeAtualFk.idCargoFk.nomeCargo+' - '+ d.idEspecialidadeAtualFk.nomeEspecialidadeCargo }"></td>
		                    <td th:text="${d.idVinculoAtualFk.nomeVinculo}"></td>
		                    <td th:text="${d.idCarreiraAtualFk.nomeCarreira}"></td>
		                    <td th:text="${d.idClasseCarreiraAtualFk.nomeClasse}"></td>
		                    <td th:text="${d.idNivelCarreiraAtualFk.nomeNivelCarreira}"></td>
		                    <td th:text="${d.idSituacaoAtualFk.nomeSituacao}"></td>
		                    
		                    
		                    <td th:text="${d.idUnidadeAtuacaoAtualFk.nomeFantasia}"></td>
		                    
		                    
		                    
		                    
		                    <td th:text="${d.idPessoaFk.nome}"></td>
		                    <td th:text="${d.idPessoaFk.cpf}"></td>
		                    <td colspan="2">
		                    	<a class="btn btn-outline-info btn-sm" th:href="@{/funcionarios/editar/{id} (id=${d.id}) }" role="button">
		                        	<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
		                        </a>
		                        <button th:id="${ 'btn_funcionarios/excluir/funcionario/' + d.id}" type="button" class="btn btn btn-outline-danger btn-sm" 
		                            		data-toggle="modal" data-target="#myModal">
		                                <span class="oi oi-circle-x" title="Exclusão habilitada" aria-hidden="true"></span>
		                        </button>
		                   	</td>
						</tr>
					</tbody>                    
	            </table>
	         </div>
		</div>	
			
			
			
					
			
			
			
			
		</div>
		
		
		<div th:replace="fragments/modal :: modal"></div>
	</section>
</body>
</html>
