<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<form th:action="@{/cargos/listar}">
				<div class=" layout-content">
					<a class="btn btn-outline-light oi oi-action-undo" type="button" href="javascript:history.back()"></a>
					<a class="btn btn-outline-light oi oi-action-redo" type="button" href="javascript:history.forward()"></a>    
					<button class="btn btn-outline-dark ">Listar</button>
					<a class="btn btn-outline-dark btn-md" th:href="@{/cargos/cadastrar}"
						role="button"> <span class="oi oi-plus" title="Cadastro"
						aria-hidden="true"></span> <span>Novo</span>
					</a>
				</div>
			</form>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>
			<form
				th:action="${cargos.id == null} ? @{/cargos/salvar} : @{/cargos/editar}"
				th:object="${cargos}" method="POST">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="nome" class="fonte-tutulos-tamanho">Cadastro de Cargos </label>
						<p></p>	
						
						<label for="nome" class="">Cargo </label>
						<input type="text"	class="form-control form-control-md" autofocus="autofocus"
						       id="codigo" placeholder="Nome do Cargo" th:field="*{nomeCargo}" />
						<p></p>
						
						<label for="nome" class="">Descrição </label>
						<input type="text" class="form-control form-control-md" autofocus="autofocus" 
							   id="nome" placeholder="Descrição do Cargo"th:field="*{descricaoCargo}" />
						<p></p>
						
						<label for="nome" class="">Nível </label>
						<select id="cargos" class="form-select" th:field="*{idNivelCargoFk}">
								<option value="">Selecione o Nível</option>
								<option th:each="d : ${idNivelCargoFk}" th:value="${d.id}"th:text="${d.nomeNivelCargo}">ADM</option>
						</select>	
						<p></p>	
						
						<input type="checkbox" id="areaMeio" th:name="areaMeio"    value="S">Área Meio</input>
						<p></p>
						
						<input type="hidden" id="id" th:field="*{id}" />
						<button class="btn btn-outline-dark">Cadastrar</button>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>
