<!DOCTYPE html>
<html layout:decorate = "~{layout}">
<head><meta charset="UTF-8"/></head>
<body>	
	<section class="layout-content" layout:fragment="corpo">		
		<nav class="navbar navbar-expand-md bg-light">    
	    	<a class="btn btn-outline-dark btn-md" href="/cidades/cadastrar" role="button">
	        	<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	            <span>Novo</span>
	        </a>
	        <a class="btn btn-outline-dark btn-md" href="/cidades/listar" role="button">
	        	<span class="oi oi-loop-square" title="Atualizar" aria-hidden="true"></span>
	            <span>Atualizar</span>
	        </a>
	            <label for="nome" class= "fonte-tutulos-tamanho">Lista de Cidades</label>
	    </nav>
	  	
	  	<div class="container">
	    	<p>                
	        	<button class=" oi oi-magnifying-glass btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#collapseCidade"
	            		aria-controls="collapseCidade">Filtrar Cidade
	            </button> 
	            <button class=" oi oi-magnifying-glass btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#collapseEstado"
	            		aria-controls="collapseEstado">Filtrar Estado
	            </button>
	            <p></p>
	      </p>
	      <div class="row">
	      	<div class="col">
	        	<div class="collapse" id="collapseCidade">
		            <nav class="navbar navbar-light bg-light">
	    	           <form class="form-inline" method="GET" th:action="@{/cidades/buscar/nome/cidade}">	        	           
	        	           <input class="form-control mr-sm-2" type="search" placeholder="Nome da Cidade" aria-label="Search"
	                              th:name="nomeCidade"/> 
	                       <button class="btn btn-outline-success my-2 my-sm-0">Buscar</button> 
	                   </form>  
	                </nav>
	            </div>
	        </div>
	    </div>
	        
	    <div class="row">
	      	<div class="col">
	        	<div class="collapse" id="collapseEstado">
		            <nav class="navbar navbar-light bg-light">
	                	<form class="form-inline" method="GET" th:action="@{/cidades/buscar/id/uf}">
	                   		<select class=" form-select form-control mr-sm-2" 
	                   				th:name="idUfFk" aria-label="Search">
	                        	<option value="">Selecione Estado/Província</option>
	                            <option th:each="c : ${idUfFk}" th:value="${c.id}" th:text="${c.nomeUf}"> </option>
	                         </select>
	                         <button class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
	                  </form>
	                </nav>
	            </div>
	        </div>
	    </div>
	    	    
	    <div class="container" id="listagem">	        
	    	<div th:replace="fragments/alert"></div>
	    	
	        <div style="height: 450px; overflow-y: auto;" class="table-responsive">
	        	<table class="table table-striped table-hover table-sm myTable">
	            	<thead>
	          			<tr>
		                	<th>#</th>
		                    <th>Cidade</th>
		                    <th>Estado</th>
		                    <th>UF</th>
		                    <th>País</th>
		                    <th>Ações</th>
	                    </tr>
	                </thead>                  
	                <tbody>
		            	<tr th:each="d : ${cidades}">
		                	<td th:text="${d.id}"></td>
		                    <td th:text="${d.nomeCidade}"></td>
		                    <td th:text="${d.idUfFk.nomeUf}"></td>
		                    <td th:text="${d.idUfFk.siglaUf}"></td>
		                    <td th:text="${d.idPaisFk.nomePais}"></td>
		                    <td colspan="2">
		                    	<a class="btn btn-outline-info btn-sm" th:href="@{/cidades/editar/{id} (id=${d.id}) }" role="button">
		                        	<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
		                        </a>
		                        <button th:id="${ 'btn_cidades/excluir/' + d.id}" type="button" class="btn btn btn-outline-danger btn-sm" 
		                            		data-toggle="modal" data-target="#myModal">
		                                <span class="oi oi-circle-x" title="Exclusão habilitada" aria-hidden="true"></span>
		                        </button>
		                   	</td>
						</tr>
					</tbody>                    
	            </table>                 
	         </div>
		</div>
		 <nav aria-label="Page navigation example">
		 <div> Quantidade de registros: [[${totalItems}]]<br>  Página: [[${currentePage}]] de [[${totalPages}]] </div> 
		 <div>
		 	<span >
		 		<a></a>
		 		<samp >[[${i}]]</samp> &nbsp; &nbsp;
		 	</span>
		 </div>
		 	<ul class="pagination justify-content-center" >
		 		<li class="page-item disabled" >
		 			<!-- <a class="page-link" th:href="@{'/cidades/paginar/' + ${currentePage-1}  }" tabindex="-1" aria-disabled="true"> Previous</a>-->
		 		</li>		 		
			 	<!--  <li class="page-item" th:each ="i: ${#numbers.sequence(1, totalPages)}">
			 		<a class="page-link" th:if="${currentePage != i}"  th:href="@{'/cidades/paginar/'+ ${i}}" >[[${i}]]</a>			 		
			 	</li>
			 	-->
			 	
			 	<li  > 	
			 		<a class="btn btn-light btn-paginacao oi oi-media-step-backward" th:if="${currentePage != i}"  th:href="@{'/cidades/listar/'+ 1 }" ></a>
			 	</li>
			 	
			 	<li  >
			 	    <a class="btn btn-light    btn-paginacao    oi oi-media-skip-backward" th:if="${currentePage > 1}"  th:href="@{'/cidades/listar/'+ ${currentePage -1}}" ></a>
			 	</li> 
			 	
			 	<li  > 	
			 		<a class="btn btn-light    btn-paginacao" th:if="${currentePage > 100}"  th:href="@{'/cidades/listar/'+ ${currentePage-100} }" >-100</a>
			 	</li>
			 	
			 	<li  > 	
			 		<a class="btn btn-light    btn-paginacao" th:if="${currentePage > 10}"  th:href="@{'/cidades/listar/'+ ${currentePage-10} }" >-10</a>
			 	</li>
			 	
			 	 
			 	<!--			 	 	
			 	<li  > 	
			 		<a class="page-link" th:if="${currentePage != i}"  th:href="@{'/cidades/listar/'+ ${i}}" >[[${i}]]</a>
			 	</li> 
			 	--> 
			 	 
			 	<li  > 	
			 		<a class="btn btn-light    btn-paginacao" th:if="${currentePage > 2}"  th:href="@{'/cidades/listar/'+ ${currentePage-2} }" >[[${currentePage-2}]]</a>
			 	</li>
			 	 
			 	<li  > 	
			 		<a class="btn btn-light    btn-paginacao" th:if="${currentePage > 1}"  th:href="@{'/cidades/listar/'+ ${currentePage-1} }" >[[${currentePage-1}]]</a>
			 	</li>
			 	 
			 	<li  > 	
			 		<a class="btn btn-light    btn-paginacao" th:if="${currentePage != i}"  th:href="@{'/cidades/listar/'+ ${currentePage} }" >[[${currentePage}]]</a>
			 	</li> 
			 	
			 	<li  > 	
			 		<a class="btn btn-light    btn-paginacao" th:if="${currentePage < totalPages - 1}"  th:href="@{'/cidades/listar/'+ ${currentePage+1} }" >[[${currentePage+1}]]</a>
			 	</li>
			 	
			 	<li  > 	
			 		<a class="btn btn-light    btn-paginacao"  th:if="${currentePage < totalPages - 2}"  th:href="@{'/cidades/listar/'+ ${currentePage+2} }" >[[${currentePage+2}]]</a>
			 	</li>
			 	
			 	<li  > 	
			 		<a class="btn btn-light    btn-paginacao"  th:if="${currentePage < totalPages - 10}"  th:href="@{'/cidades/listar/'+ ${currentePage+10} }" >+10</a>
			 	</li>
			 	
			 	<li  > 	
			 		<a class="btn btn-light    btn-paginacao"  th:if="${currentePage < totalPages - 100}"  th:href="@{'/cidades/listar/'+ ${currentePage+100} }" >+100</a>
			 	</li>
			 	
			 	<li class="page-item">
		 			<a class="btn btn-light    btn-paginacao    oi oi-media-skip-forward" th:if="${currentePage < totalPages}"  th:href="@{'/cidades/listar/' + ${currentePage +1}}"></a>
		 		</li>
		 		
		 		<li  > 	
			 		<a class=  "btn btn-light    btn-paginacao    oi oi-media-step-forward"  th:if="${currentePage != i}"  th:href="@{'/cidades/listar/'+ ${totalPages} }" ></a>
			 	</li> 
		 		
		 	</ul>
		</nav>
		
		<!-- <div th:if = "${totalPages > 1}">
			<div class = "row col-sm-10">
				<div class = "col-sm-2">
					Total Rows: [[${totalItems}]] 
				</div>
				<div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
				</div>
				<div class = "col-sm-1">
					<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>

				 <div class="col-sm-1">
    				<a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
   				 </div>
			</div>
		
		-->
			     	        
	    <div th:replace="fragments/modal :: modal"></div>   
	</section>	
</body>
</html>		