<!DOCTYPE html>
<html layout:decorate = "~{layout}">
<head><meta charset="UTF-8"/></head>
<body>	
	<section class="layout-content" layout:fragment="corpo">		
		<nav class="navbar navbar-expand-md bg-light">    
	    	<a class="btn btn-outline-dark btn-md" href="/cidades/cadastrar" role="button">
	        	<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	            <span>Novo</span>
	        </a>
	        <a class="btn btn-outline-dark btn-md" href="/cidades/listar" role="button">
	        	<span class="oi oi-loop-square" title="Atualizar" aria-hidden="true"></span>
	            <span>Atualizar</span>
	        </a>
	            <label for="nome" class= "fonte-tutulos-tamanho">Lista de Cidades</label>
	    </nav>
	  	
	  	<div class="container">
	    	<p>                
	        	<button class=" oi oi-magnifying-glass btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#collapseCidade"
	            		aria-controls="collapseCidade">Filtrar Cidade
	            </button> 
	            <button class=" oi oi-magnifying-glass btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#collapseEstado"
	            		aria-controls="collapseEstado">Filtrar Estado
	            </button>
	            <button class=" oi oi-cloud-download btn btn-outline-secondary my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#collapseDownload"
	            		aria-controls="collapseEstado">Download
	            </button>
            
	            <p></p>
	      </p>
	      <div class="row">
	      	<div class="col">
	        	<div class="collapse" id="collapseCidade">
		            <nav class="navbar navbar-light bg-light">
	    	           <form class="form-inline" method="GET" th:action="@{/cidades/buscar/nome/cidade}">	        	           
	        	           <input class="form-control mr-sm-2" type="search" placeholder="Nome da Cidade" aria-label="Search"
	                              th:name="nomeCidade"/> 
	                       <button class="btn btn-outline-success my-2 my-sm-0">Buscar</button> 
	                   </form>  
	                </nav>
	            </div>
	        </div>
	    </div>
	        
	    <div class="row">
	      	<div class="col">
	        	<div class="collapse" id="collapseEstado">
		            <nav class="navbar navbar-light bg-light">
	                	<form class="form-inline" method="GET" th:action="@{/cidades/buscar/id/uf}">
	                   		<select class=" form-select form-control mr-sm-2" 
	                   				th:name="idUfFk" aria-label="Search">
	                        	<option value="">Selecione Estado/Província</option>
	                            <option th:each="c : ${idUfFk}" th:value="${c.id}" th:text="${c.nomeUf}"> </option>
	                         </select>
	                         <button class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
	                  </form>
	                </nav>
	            </div>
	        </div>
	    </div>
	    
	    <div class="row">
	      	<div class="col">
	        	<div class="collapse" id="collapseDownload">
		            <nav class="navbar navbar-light bg-light">
	                	<form class="form-inline" method="GET" th:action="@{/cidades/buscar/id/uf}">
	                   		
	                        <a class="btn btn-outline-success btn-md" href="/cidades/exporta/excel" role="button">
				        		<span class="oi oi-cloud-download" title="exportaExcel" aria-hidden="true"></span>
				            	<span>Exporta Excel</span>
				       	    </a>
				       	    
				       	    <a class="btn btn-outline-danger btn-md" href="/cidades/exporta/pdf" role="button">
				        		<span class="oi oi-cloud-download" title="exportaPdf" aria-hidden="true"></span>
				            	<span>Exporta Pdf</span>
				       	    </a>
	       	    
	                  </form>
	                </nav>
	            </div>
	        </div>
	    </div>
	    	    
	    <div class="container" id="listagem">	        
	    	<div th:replace="fragments/alert"></div>
	    	
	        <div style="height: 450px; overflow-y: auto;" class="table-responsive">
	        	<table class="table table-striped table-hover table-sm myTable">
	            	<thead>
	          			<tr>
		                	<th>#</th>
		                    <th>Cidade</th>
		                    <th>Estado</th>
		                    <th>UF</th>
		                    <th>País</th>
		                    <th>Ações</th>
	                    </tr>
	                </thead>                  
	                <tbody>
		            	<tr th:each="d : ${cidades}">
		                	<td th:text="${d.id}"></td>
		                    <td th:text="${d.nomeCidade}"></td>
		                    <td th:text="${d.idUfFk.nomeUf}"></td>
		                    <td th:text="${d.idUfFk.siglaUf}"></td>
		                    <td th:text="${d.idPaisFk.nomePais}"></td>
		                    <td colspan="2">
		                    	<a class="btn btn-outline-info btn-sm" th:href="@{/cidades/editar/{id} (id=${d.id}) }" role="button">
		                        	<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
		                        </a>
		                        <button th:id="${ 'btn_cidades/excluir/' + d.id}" type="button" class="btn btn btn-outline-danger btn-sm" 
		                            		data-toggle="modal" data-target="#myModal">
		                                <span class="oi oi-circle-x" title="Exclusão habilitada" aria-hidden="true"></span>
		                        </button>
		                   	</td>
						</tr>
					</tbody>                    
	            </table>                 
	         </div>
		</div>
		 <nav aria-label="Page navigation example">
		 <div> Quantidade de registros: [[${totalItems}]]<br>  Página: [[${currentePage}]] de [[${totalPages}]] </div> 
		 <div>
		 	<span >
		 		<a></a>
		 		<samp >[[${i}]]</samp> &nbsp; &nbsp;
		 	</span>
		 </div>
		 	<ul class="pagination justify-content-center" >
		 		<li class="page-item disabled" ></li>		 		
	
			 	<li ><a class="btn btn-light btn-paginacao oi oi-media-step-backward" th:if="${currentePage != i}"  th:href="@{'/cidades/paginar/'+ 1 }" ></a></li>
			 	
			 	<li ><a class="btn btn-light    btn-paginacao    oi oi-media-skip-backward" th:if="${currentePage > 1}"  th:href="@{'/cidades/paginar/'+ ${currentePage -1}}" ></a></li> 
			 	
			 	<li ><a class="btn btn-light    btn-paginacao oi" th:if="${currentePage > 1000}"  th:href="@{'/cidades/paginar/'+ ${currentePage-1000} }" >-1000</a></li>
			 	
			 	<li ><a class="btn btn-light    btn-paginacao" th:if="${currentePage > 100}"  th:href="@{'/cidades/paginar/'+ ${currentePage-100} }" >-100</a></li>
			 	
			 	<li ><a class="btn btn-light    btn-paginacao" th:if="${currentePage > 10}"  th:href="@{'/cidades/paginar/'+ ${currentePage-10} }" >-10</a></li>

			 	<li ><a class="btn btn-light    btn-paginacao"  th:if="${currentePage < totalPages - 10}"  th:href="@{'/cidades/paginar/'+ ${currentePage+10} }" >+10</a></li>
			 	
			 	<li ><a class="btn btn-light    btn-paginacao"  th:if="${currentePage < totalPages - 100}"  th:href="@{'/cidades/paginar/'+ ${currentePage+100} }" >+100</a></li>
			 	
			 	<li ><a class="btn btn-light    btn-paginacao"  th:if="${currentePage < totalPages - 1000}"  th:href="@{'/cidades/paginar/'+ ${currentePage+1000} }" >+1000</a></li>
			 	
			 	<li ><a class="btn btn-light    btn-paginacao    oi oi-media-skip-forward" th:if="${currentePage < totalPages}"  th:href="@{'/cidades/paginar/' + ${currentePage +1}}"></a> </li>
		 		
		 		<li ><a class="btn btn-light    btn-paginacao    oi oi-media-step-forward"  th:if="${currentePage != i}"  th:href="@{'/cidades/paginar/'+ ${totalPages} }" ></a></li> 
		 	</ul>
		</nav>     	        
	    <div th:replace="fragments/modal :: modal"></div>   
	</section>	
</body>
</html>		