<!DOCTYPE html>
<html layout:decorate = "~{layout}">
<head><meta charset="UTF-8"/></head>
<body>	
	<section class="layout-content" layout:fragment="corpo">		
		<nav class="navbar navbar-expand-md bg-light">
	        <a class="btn btn-outline-light oi oi-action-undo" type="button" href="javascript:history.back()"></a>
			<a class="btn btn-outline-light oi oi-action-redo" type="button" href="javascript:history.forward()"></a>        
	    	
	        <a class="btn btn-outline-dark btn-md" th:href="@{/pessoaCodDiferenciado/listar/unidade}" role="button">
	        	<span class="oi oi-loop-square" title="Atualizar" aria-hidden="true"></span>
	            <span>Atualizar</span>
	        </a>
	            <label for="nome" class= "fonte-tutulos-tamanho">Lista de Pessoas com Cód Diferenciado Atribuído (Unidade)</label>
	    </nav>
	  	<div class="container">
	    	<p>                
	        	<button class=" oi oi-magnifying-glass btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#collapseNome"
	            		aria-controls="collapseNome">Filtrar Nome
	            </button>
	            	            
	      </p>
	      <div class="row">
	      	<div class="col">
	        	<div class="collapse" id="collapseNome">
		            <nav class="navbar navbar-light bg-light">
	    	           <form class="form-inline" method="GET" th:action="@{/pessoaCodDiferenciado/buscar/nome/unidade}">
	        	           <input class="form-control mr-sm-2" type="search" placeholder="Nome" aria-label="Search"
	                              th:name="nome" />
	                       <button class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
	                   </form>
	                </nav>
	            </div>
	    	</div>
	    </div>
	    
	    
	    
	    
	    <div class="container" id="listagem">	        
	    	<div th:replace="fragments/alert"></div>
	    	
	        <div style="height: 500px; overflow-y: auto;" class="table-responsive">
	        	<table style="width: 1200px;" class="table table-striped table-hover table-sm myTable">
	            	<thead>
	          			<tr>
		                	<th style="font-size:11px;">#</th>
		                	<th style="font-size:11px;">Nome</th>
		                    <th style="font-size:11px;">Diferenciado </th>
		                    <th style="font-size:11px;">Atribuicão Rh </th>
		                    <th style="font-size:11px;">Motivo </th>
		                    <th style="font-size:11px;">Data </th>
		                    <th style="font-size:11px;">Precisa da Sede </th>
		                    <th style="font-size:11px;">Posição da Sede </th>
		                    <th style="font-size:11px;">Responsável </th>
		                    <th style="font-size:11px;">Motivo </th>
		                    <th style="font-size:11px;">Data </th>
		                    
		                    <th style="font-size:11px;">Ações</th>
	                    </tr>
	                </thead>                  
	                <tbody>
		            	<tr th:each="f : ${listaPessoaCodDiferenciado}">
		                	<td style="font-size:11px;" th:text="${f.id}"></td>		
		                	<td style="font-size:11px;" th:text="${f.idPessoaFk.nome}"></td>                    
		                    <td style="font-size:11px;" th:text="${f.idCodDiferenciadoFk != null} ? ${ f.idCodDiferenciadoFk.nomeCodigoDiferenciado+'-'+  f.idCodDiferenciadoFk.descricaoCodigoDiferenciado} : ''  "></td>
		                    <td style="font-size:11px;" th:text="${f.idOperadorCadastroFk != null} ? ${ f.idOperadorCadastroFk.idPessoaFk.nome} : ''  "></td>
		                    <td style="font-size:11px;" th:text="${f.observacaoCadastro != null} ? ${ f.observacaoCadastro} : ''  "></td>
		                    <td style="font-size:11px;" th:text="${f.dtCadastro != null} ? ${#dates.format(f.dtCadastro, 'dd/MM/yyyy') } : ''  "></td>		                    		           		                  	                    		                     		         		                    
		                    <td style="font-size:11px;" th:text="${f.idCodDiferenciadoFk != null} ? ${ f.idCodDiferenciadoFk.idNecessitaAtribuicaoSedeFk.descricao} : ''  "></td>
		                    <td style="font-size:11px;" th:text="${f.idConfirmacaoSedeSimNaoFk != null} ? ${ f.idConfirmacaoSedeSimNaoFk.descricao } : ''  "></td>  
		                    <td style="font-size:11px;" th:text="${f.idOperadorConfirmacaoSedeFk != null} ? ${ f.idOperadorConfirmacaoSedeFk.idPessoaFk.nome} : ''  "></td>
		                    <td style="font-size:11px;" th:text="${f.observacaoConfirmacao != null} ? ${ f.observacaoConfirmacao} : ''  "></td>
		                    <td style="font-size:11px;" th:text="${f.dtCadastro != null} ? ${#dates.format(f.dtCadastro, 'dd/MM/yyyy') } : ''  "></td>
		                    
		                    <td colspan="2">
		                    	<a class="btn btn-outline-danger btn-sm" th:href="@{/pessoaCodDiferenciado/cancelar/lista/unidade/{id} (id=${f.id}) }" role="button">
		                        	<span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
		                        </a>
		                    
		                    	<button th:id="${ 'btn_pessoaCodDiferenciado/cancelar/lista/unidade/' + f.id}" type="button" class="btn btn btn-outline-danger btn-sm" 
		                            		data-toggle="modal" data-target="#myModal">
		                                <span class="oi oi-circle-x" title="Exclusão habilitada" aria-hidden="true"></span>
		                        </button>               
		                   	</td>
						</tr>
					</tbody>                    
	            </table>
	         </div>
		</div>	      
		
		
		
		 <nav aria-label="Page navigation example">
			 <div> Quantidade de registros: [[${totalItems}]]<br>  Página: [[${currentePage}]] de [[${totalPages}]] </div> 
			 <div>
			 	<span >
			 		<a></a>
			 		<samp >[[${i}]]</samp> &nbsp; &nbsp;
			 	</span>
			 </div>
			 	<ul class="pagination justify-content-center" >
			 		<li class="page-item disabled" ></li>		 		
		
				 	<li ><a class="btn btn-light btn-paginacao oi oi-media-step-backward" th:if="${currentePage != i}"  th:href="@{'/pessoaCodDiferenciado/paginar/unidade/'+ 1 }" ></a></li>
				 	
				 	<li ><a class="btn btn-light    btn-paginacao    oi oi-media-skip-backward" th:if="${currentePage > 1}"  th:href="@{'/pessoaCodDiferenciado/paginar/unidade/'+ ${currentePage -1}}" ></a></li> 
				 	
				 	<li ><a class="btn btn-light    btn-paginacao oi" th:if="${currentePage > 1000}"  th:href="@{'/pessoaCodDiferenciado/paginar/unidade/'+ ${currentePage-1000} }" >-1000</a></li>
				 	
				 	<li ><a class="btn btn-light    btn-paginacao" th:if="${currentePage > 100}"  th:href="@{'/pessoaCodDiferenciado/paginar/unidade/'+ ${currentePage-100} }" >-100</a></li>
				 	
				 	<li ><a class="btn btn-light    btn-paginacao" th:if="${currentePage > 10}"  th:href="@{'/pessoaCodDiferenciado/paginar/unidade/'+ ${currentePage-10} }" >-10</a></li>
	
				 	<li ><a class="btn btn-light    btn-paginacao"  th:if="${currentePage < totalPages - 10}"  th:href="@{'/pessoaCodDiferenciado/paginar/unidade/'+ ${currentePage+10} }" >+10</a></li>
				 	
				 	<li ><a class="btn btn-light    btn-paginacao"  th:if="${currentePage < totalPages - 100}"  th:href="@{'/pessoaCodDiferenciado/paginar/unidade/'+ ${currentePage+100} }" >+100</a></li>
				 	
				 	<li ><a class="btn btn-light    btn-paginacao"  th:if="${currentePage < totalPages - 1000}"  th:href="@{'/pessoaCodDiferenciado/paginar/unidade/'+ ${currentePage+1000} }" >+1000</a></li>
				 	
				 	<li ><a class="btn btn-light    btn-paginacao    oi oi-media-skip-forward" th:if="${currentePage < totalPages}"  th:href="@{'/pessoaCodDiferenciado/paginar/unidade/' + ${currentePage +1}}"></a> </li>
			 		
			 		<li ><a class="btn btn-light    btn-paginacao    oi oi-media-step-forward"  th:if="${currentePage != i}"  th:href="@{'/pessoaCodDiferenciado/paginar/unidade/'+ ${totalPages} }" ></a></li> 
			 	</ul>
			</nav>    
		
		
		
		  
	        <div th:replace="fragments/modal :: modal"></div>   
	</section>	
</body>
</html>		