<!DOCTYPE html>
<html layout:decorate = "~{layout}">
<head><meta charset="UTF-8"/></head>
<body>	
	<section class="layout-content" layout:fragment="corpo">		
		<nav class="navbar navbar-expand-md bg-light">
	        <a class="btn btn-outline-light oi oi-action-undo" type="button" href="javascript:history.back()"></a>
			<a class="btn btn-outline-light oi oi-action-redo" type="button" href="javascript:history.forward()"></a>        
	    	<a class="btn btn-outline-dark btn-md" th:href="@{/rubricaCodigo/cadastrar}" role="button">
	        	<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	            <span>Novo</span>
	        </a>
	        <a class="btn btn-outline-dark btn-md" th:href="@{/rubricaCodigo/listar}" role="button">
	        	<span class="oi oi-loop-square" title="Atualizar" aria-hidden="true"></span>
	            <span>Atualizar</span>
	        </a>
	            <label for="nome" class= "fonte-tutulos-tamanho">Lista de Códigos para Rubrica </label>
	    </nav>
	  	<div class="container">
	    	<p>                
	        	<button class=" oi oi-magnifying-glass btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#collapseNome"
	            		aria-controls="collapseNome">Filtrar
	            </button>
	      </p>
	      <div class="row">
	      	<div class="col">
	        	<div class="collapse" id="collapseNome">
		            <nav class="navbar navbar-light bg-light">
	    	           <form class="form-inline" method="GET" th:action="@{/rubricaCodigo/buscar/nome}">
	        	           <input class="form-control mr-sm-2" type="search" placeholder="Nome" aria-label="Search"
	                              th:name="nome" />
	                       <button class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
	                   </form>
	                </nav>
	            </div>
	    	</div>
	    </div>
	    
	    
	    <div class="container" id="listagem">	        
	    	<div th:replace="fragments/alert"></div>
	    	
	        <div style="height: 500px; overflow-y: auto;" class="table-responsive">
	        	<table style="width: 1200px;" class="table table-striped table-hover table-sm myTable">
	            	<thead>
	          			<tr>
		                	<th style="font-size:10px;" >#</th>
		                    <th style="font-size:10px;" >Código</th>
		                    <th style="font-size:10px;" >Variação</th>
		                    <th style="font-size:10px;" >Descrição</th>
		                    <th style="font-size:10px;" >Natureza</th>
		                    <th style="font-size:10px;" >Tipo</th>
		                    <th style="font-size:10px;" >Fonte</th>
		                    <th style="font-size:10px;" >Ações</th>
	                    </tr>
	                </thead>                  
	                <tbody>
		            	<tr th:each="d : ${rubricaCodigo}">
		                	<td style="font-size:10px;"  th:text="${d.id}"></td>
		                    <td style="font-size:10px;"  th:text="${d.codigo} ? ${d.codigo} : ''  "></td>
		                    <td style="font-size:10px;"  th:text="${d.variacao} ? ${d.variacao} : ''  "></td>
		                    <td style="font-size:10px;"  th:text="${d.descricao != null} ? ${d.descricao} : ''  "></td>
		                    <td style="font-size:10px;"  th:text="${d.idNaturezaFk != null} ? ${d.idNaturezaFk.descricao} : ''  "></td>
		                    <td style="font-size:10px;"  th:text="${d.idTipoFk != null} ? ${d.idTipoFk.nome +'-'+ d.idTipoFk.descricao} : ''  "></td>
		                    <td style="font-size:10px;"  th:text="${d.idFonteFk != null} ? ${d.idFonteFk.nome +'-'+ d.idFonteFk.descricao} : ''  "></td>
		                    
		                    
		                    <td colspan="2">
		                    	<a class="btn btn-outline-info btn-sm" th:href="@{/rubricaCodigo/editar/{id} (id=${d.id}) }" role="button">
		                        	<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
		                        </a>
		                        <button th:id="${ 'btn_rubricaCodigo/excluir/' + d.id}" type="button" class="btn btn btn-outline-danger btn-sm" 
		                            		data-toggle="modal" data-target="#myModal">
		                                <span class="oi oi-circle-x" title="Exclusão habilitada" aria-hidden="true"></span>
		                        </button>
		                   	</td>
						</tr>
					</tbody>                    
	            </table>
	         </div>
		</div>	      
		
		
		
		 <nav aria-label="Page navigation example">
			 <div> Quantidade de registros: [[${totalItems}]]<br>  Página: [[${currentePage}]] de [[${totalPages}]] </div> 
			 <div>
			 	<span >
			 		<a></a>
			 		<samp >[[${i}]]</samp> &nbsp; &nbsp;
			 	</span>
			 </div>
			 	<ul class="pagination justify-content-center" >
			 		<li class="page-item disabled" ></li>		 		
		
				 	<li ><a class="btn btn-light btn-paginacao oi oi-media-step-backward" th:if="${currentePage != i}"  th:href="@{'/rubricaCodigo/paginar/'+ 1 }" ></a></li>
				 	
				 	<li ><a class="btn btn-light    btn-paginacao    oi oi-media-skip-backward" th:if="${currentePage > 1}"  th:href="@{'/rubricaCodigo/paginar/'+ ${currentePage -1}}" ></a></li> 
				 	
				 	<li ><a class="btn btn-light    btn-paginacao oi" th:if="${currentePage > 1000}"  th:href="@{'/rubricaCodigo/paginar/'+ ${currentePage-1000} }" >-1000</a></li>
				 	
				 	<li ><a class="btn btn-light    btn-paginacao" th:if="${currentePage > 100}"  th:href="@{'/rubricaCodigo/paginar/'+ ${currentePage-100} }" >-100</a></li>
				 	
				 	<li ><a class="btn btn-light    btn-paginacao" th:if="${currentePage > 10}"  th:href="@{'/rubricaCodigo/paginar/'+ ${currentePage-10} }" >-10</a></li>
	
				 	<li ><a class="btn btn-light    btn-paginacao"  th:if="${currentePage < totalPages - 10}"  th:href="@{'/rubricaCodigo/paginar/'+ ${currentePage+10} }" >+10</a></li>
				 	
				 	<li ><a class="btn btn-light    btn-paginacao"  th:if="${currentePage < totalPages - 100}"  th:href="@{'/rubricaCodigo/paginar/'+ ${currentePage+100} }" >+100</a></li>
				 	
				 	<li ><a class="btn btn-light    btn-paginacao"  th:if="${currentePage < totalPages - 1000}"  th:href="@{'/rubricaCodigo/paginar/'+ ${currentePage+1000} }" >+1000</a></li>
				 	
				 	<li ><a class="btn btn-light    btn-paginacao    oi oi-media-skip-forward" th:if="${currentePage < totalPages}"  th:href="@{'/rubricaCodigo/paginar/' + ${currentePage +1}}"></a> </li>
			 		
			 		<li ><a class="btn btn-light    btn-paginacao    oi oi-media-step-forward"  th:if="${currentePage != i}"  th:href="@{'/rubricaCodigo/paginar/'+ ${totalPages} }" ></a></li> 
			 	</ul>
			</nav>    
		
		
		
		  
	        <div th:replace="fragments/modal :: modal"></div>   
	</section>	
</body>
</html>		