<!DOCTYPE html>
<html layout:decorate = "~{layout}">
<head><meta charset="UTF-8"/></head>
<body>	
	<section class="layout-content" layout:fragment="corpo">		
		<nav class="navbar navbar-expand-md bg-light">
	            
	    	<a class="btn btn-outline-dark btn-md" href="/tiposlogradouros/cadastrar" role="button">
	        	<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	            <span>Novo</span>
	        </a>
	        <a class="btn btn-outline-dark btn-md" href="/tiposlogradouros/listar" role="button">
	        	<span class="oi oi-loop-square" title="Atualizar" aria-hidden="true"></span>
	            <span>Atualizar</span>
	        </a>
	            <label for="nome" class= "fonte-tutulos-tamanho">Lista de Tipode de Logradouro </label>
	    </nav>
	  	<div class="container">
	    	<p>                
	        	<button class=" oi oi-magnifying-glass btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#collapseNome"
	            		aria-controls="collapseNome">Filtrar
	            </button>
	      </p>
	      <div class="row">
	      	<div class="col">
	        	<div class="collapse" id="collapseNome">
		            <nav class="navbar navbar-light bg-light">
	    	           <form class="form-inline" method="GET" th:action="@{/tiposlogradouros/buscar/nome/logradouro}">
	        	           <input class="form-control mr-sm-2" type="search" placeholder="Tipo" aria-label="Search"
	                              th:name="nomeTipoLogradouro" />
	                       <button class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
	                   </form>
	                </nav>
	            </div>
	    	</div>
	    </div>
	    
	    
	    <div class="container" id="listagem">	        
	    	<div th:replace="fragments/alert"></div>
	    	
	        <div style="height: 500px; overflow-y: auto;" class="table-responsive">
	        	<table class="table table-striped table-hover table-sm myTable">
	            	<thead>
	          			<tr>
		                	<th>#</th>
		                    <th>Tipo Logradouro</th>
		                    <th>Descrição</th>
		                    <th>Ações</th>
	                    </tr>
	                </thead>                  
	                <tbody>
		            	<tr th:each="d : ${tiposLogradouro}">
		                	<td th:text="${d.id}"></td>
		                    <td th:text="${d.nomeTipoLogradouro}"></td>
		                    <td th:text="${d.descricaoTipoLogradouro}"></td>
		                    <td colspan="2">
		                    	<a class="btn btn-outline-info btn-sm" th:href="@{/tiposlogradouros/editar/{id} (id=${d.id}) }" role="button">
		                        	<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
		                        </a>
		                        <button th:id="${ 'btn_tiposlogradouros/excluir/' + d.id}" type="button" class="btn btn btn-outline-danger btn-sm" 
		                            		data-toggle="modal" data-target="#myModal">
		                                <span class="oi oi-circle-x" title="Exclusão habilitada" aria-hidden="true"></span>
		                        </button>
		                   	</td>
						</tr>
					</tbody>                    
	            </table>
	         </div>
		</div>	        
	        <div th:replace="fragments/modal :: modal"></div>   
	</section>	
</body>
</html>		