<!DOCTYPE html>
<html layout:decorate = "~{layout}">
<head><meta charset="UTF-8"/></head>
<body>	
	<section class="layout-content" layout:fragment="corpo">		
		<nav class="navbar navbar-expand-md bg-light">    
	    	<a class="btn btn-outline-light oi oi-action-undo" type="button" href="javascript:history.back()"></a>
			<a class="btn btn-outline-light oi oi-action-redo" type="button" href="javascript:history.forward()"></a>
	    	
	    	<a class="btn btn-outline-dark btn-md" th:href="@{/fatorPatronal/cadastrar}" role="button">
	        	<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	            <span>Novo</span>
	        </a>
	        <a class="btn btn-outline-dark btn-md" th:href="@{/fatorPatronal/listar}" role="button">
	        	<span class="oi oi-loop-square" title="Atualizar" aria-hidden="true"></span>
	            <span>Atualizar</span>
	        </a>
	            <label for="nome" class= "fonte-tutulos-tamanho">Lista de Fator Patronal</label>
	    </nav>
	  	
	  	<div class="container">
	    	<p>                
	        	<button class=" oi oi-magnifying-glass btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#collapseAnoMes"
	            		aria-controls="collapseAnoMes">Filtrar Ano Mes
	            </button> 
	            <button class=" oi oi-external-link btn btn-outline-warning my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#collapseHerdar"
	            		aria-controls="collapseHerdar">Copiar para outro mês
	            </button> 
	            <button class=" oi oi-cloud-download btn btn-outline-secondary my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#collapseDownload"
	            		aria-controls="collapseEstado">Download
	            </button>
	            <p></p>
	      </p>
	      <div class="row">
	      	<div class="col">
	        	<div class="collapse" id="collapseAnoMes">
		            <nav class="navbar navbar-light bg-light">
	    	           <form class="form-inline" method="GET" th:action="@{/fatorPatronal/buscar/nome/anomes}">	        	           
	        	           
	        	           <input class="form-control mr-sm-2" type="search" placeholder="Ano mes" aria-label="Search"
	                              th:name="anoMes"/> 
							
	                       <button class="btn btn-outline-success my-2 my-sm-0">Buscar</button> 
	                   </form>  
	                </nav>
	            </div>
	        </div>
	    </div>
	    
	    
	    
	      </p>
	      <div class="row">
	      	<div class="col">
	        	<div class="collapse" id="collapseHerdar">
		            <nav class="navbar navbar-light bg-light">
	    	           <form class="form-inline" method="GET" th:action="@{/fatorPatronal/herdar/de/mes}">	        	           
	        	           
	        	           <select class=" form-select form-control mr-sm-2" 
	                   				th:name="anoMesInicial" aria-label="Search">
	                        	<option value="">Selecione Mes de Origem</option>
	                            <option th:each="c : ${idAnoMesFk}" th:value="${c.id}" th:text="${c.nomeAnoMes}"> </option>
	                         </select>
	                         
	                         <select class=" form-select form-control mr-sm-2" 
	                   				th:name="anoMesFinal" aria-label="Search">
	                        	<option value="">Selecione Mes de Destino</option>
	                            <option th:each="c : ${idAnoMesFk}" th:value="${c.id}" th:text="${c.nomeAnoMes}"> </option>
	                         </select>
							
	                       <button class="btn btn-outline-success my-2 my-sm-0">Enviar</button> 
	                   </form>  
	                </nav>
	            </div>
	        </div>
	    </div>
	    
	    
	    
	        
	    <div class="row">
	      	<div class="col">
	        	<div class="collapse" id="collapseDownload">
		            <nav class="navbar navbar-light bg-light">
	                	<form class="form-inline" method="GET" th:action="@{/fatorPatronal/buscar/id/uf}">
	                   		
	                        <a class="btn btn-outline-success btn-md" th:href="@{/fatorPatronal/exporta/excel}" role="button">
				        		<span class="oi oi-cloud-download" title="exportaExcel" aria-hidden="true"></span>
				            	<span>Exporta Excel</span>
				       	    </a>
				       	    
				       	    <a class="btn btn-outline-danger btn-md" th:href="@{/fatorPatronal/exporta/pdf}" role="button">
				        		<span class="oi oi-cloud-download" title="exportaPdf" aria-hidden="true"></span>
				            	<span>Exporta Pdf</span>
				       	    </a>
	       	    
	                  </form>
	                </nav>
	            </div>
	        </div>
	    </div>
	    	    	    
	    <div class="container" id="listagem">	        
	    	<div th:replace="fragments/alert"></div>
	    	
	        <div style="height: 450px; overflow-y: auto;" class="table-responsive">
	        	<table style="width: 1270px;" class="table table-striped table-hover table-sm myTable">
	            	<thead>
	          			<tr>
		                	<th style="font-size:10px;" >#</th>
		                    <th style="font-size:10px;" >Ano Mes</th>
		                    <th style="font-size:10px;" >Fator</th>
		                    <th style="font-size:10px;" >Ações</th>
	                    </tr>
	                </thead>                  
	                <tbody>
		            	<tr th:each="d : ${fatorPatronal}">
		                	<td style="font-size:10px;"  th:text="${d.id}"></td>
		                    <td style="font-size:10px;"  th:text="${d.idAnoMesFk != null} ? ${d.idAnoMesFk.nomeAnoMes} : ''  "></td>
		                    <td style="font-size:10px;"  th:text="${d.fator != null} ? ${d.fator} : ''  "></td>
		                    
		                    
		                    <td colspan="2">
		                    	<a class="btn btn-outline-info btn-sm" th:href="@{/fatorPatronal/editar/{id} (id=${d.id}) }" role="button">
		                        	<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
		                        </a>
		                        
		                        <button th:id="${ 'btn_fatorPatronal/excluir/' + d.id}" type="button" class="btn btn btn-outline-danger btn-sm" 
		                            		data-toggle="modal" data-target="#myModal">
		                                <span class="oi oi-circle-x" title="Exclusão habilitada" aria-hidden="true"></span>
		                        </button>
		                   	</td>
						</tr>
					</tbody>                    
	            </table>                 
	         </div>
		</div>
		 <nav aria-label="Page navigation example">
		 <div> Quantidade de registros: [[${totalItems}]]<br>  Página: [[${currentePage}]] de [[${totalPages}]] </div> 
		 <div>
		 	<span >
		 		<a></a>
		 		<samp >[[${i}]]</samp> &nbsp; &nbsp;
		 	</span>
		 </div>
		 	<ul class="pagination justify-content-center" >
		 		<li class="page-item disabled" ></li>		 		
	
			 	<li ><a class="btn btn-light btn-paginacao oi oi-media-step-backward" th:if="${currentePage != i}"  th:href="@{'/fatorPatronal/paginar/'+ 1 }" ></a></li>
			 	
			 	<li ><a class="btn btn-light    btn-paginacao    oi oi-media-skip-backward" th:if="${currentePage > 1}"  th:href="@{'/fatorPatronal/paginar/'+ ${currentePage -1}}" ></a></li> 
			 	
			 	<li ><a class="btn btn-light    btn-paginacao oi" th:if="${currentePage > 1000}"  th:href="@{'/fatorPatronal/paginar/'+ ${currentePage-1000} }" >-1000</a></li>
			 	
			 	<li ><a class="btn btn-light    btn-paginacao" th:if="${currentePage > 100}"  th:href="@{'/fatorPatronal/paginar/'+ ${currentePage-100} }" >-100</a></li>
			 	
			 	<li ><a class="btn btn-light    btn-paginacao" th:if="${currentePage > 10}"  th:href="@{'/fatorPatronal/paginar/'+ ${currentePage-10} }" >-10</a></li>

			 	<li ><a class="btn btn-light    btn-paginacao"  th:if="${currentePage < totalPages - 10}"  th:href="@{'/fatorPatronal/paginar/'+ ${currentePage+10} }" >+10</a></li>
			 	
			 	<li ><a class="btn btn-light    btn-paginacao"  th:if="${currentePage < totalPages - 100}"  th:href="@{'/fatorPatronal/paginar/'+ ${currentePage+100} }" >+100</a></li>
			 	
			 	<li ><a class="btn btn-light    btn-paginacao"  th:if="${currentePage < totalPages - 1000}"  th:href="@{'/fatorPatronal/paginar/'+ ${currentePage+1000} }" >+1000</a></li>
			 	
			 	<li ><a class="btn btn-light    btn-paginacao    oi oi-media-skip-forward" th:if="${currentePage < totalPages}"  th:href="@{'/fatorPatronal/paginar/' + ${currentePage +1}}"></a> </li>
		 		
		 		<li ><a class="btn btn-light    btn-paginacao    oi oi-media-step-forward"  th:if="${currentePage != i}"  th:href="@{'/fatorPatronal/paginar/'+ ${totalPages} }" ></a></li> 
		 	</ul>
		</nav>     	        
	    <div th:replace="fragments/modal :: modal"></div>   
	</section>	
</body>
</html>		