<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<form th:action="@{/bancos/listar}">
				<div class=" layout-content">
					<a class="btn btn-outline-light oi oi-action-undo" type="button" href="javascript:history.back()"></a>
					<a class="btn btn-outline-light oi oi-action-redo" type="button" href="javascript:history.forward()"></a>    
				</div>
			</form>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>
			
			
			
			
			<!-- endereco -->
		<div class="form-group container  col-md-6 col-6 " id="cadastro">
		<form
				th:action=" @{/enderecos/listar/endereco/viacep}"
				th:object="${enderecos}" method="GET">
				<div class="form-row">

					<div class="form-group col-md-6">
						<label for="nome" class="fonte-tutulos-tamanho">Endereço</label>
							
							<input type="text"
								class="form-control form-control-sm uppercase" autofocus="autofocus" 
								id="codigo" placeholder="Cep para consulta" th:field="*{enderecoCep}" />
							<p></p>
							<button class="btn btn-outline-warning btn-sm">BuscarCep</button>
							<p></p>
							<a class="btn btn-outline-danger btn-sm" href="/enderecos/retroceder"
								role="button"> <span class="oi oi-arrow-thick-left" title="Cadastro"
								aria-hidden="true"></span> <span>Retroceder</span>
							</a>
							
							<a class="btn btn-outline-success btn-sm" href="/enderecos/avancar"
								role="button"> <span>Avançar</span><span class="oi oi-arrow-thick-right" 
								title="Cadastro" aria-hidden="true"></span>
							</a>
										
		</div>
		</div>
		</form>
		</div>
		
		
		
		<div class="form-group container  col-md-6 col-6 " id="cadastro">

			<div th:replace="fragments/alert"></div>
			<form
				th:action="${enderecos.id == null} ? @{/enderecos/salvar/endereco} : @{/enderecos/salvar/endereco}"
				th:object="${enderecos}" method="POST">
				<div class="form-row">

					<div class="form-group col-md-6">
							
							<input type="text"
								class="form-control form-control-sm uppercase" autofocus="autofocus" 
								id="codigo" placeholder="Cep" th:field="*{enderecoCep}" />
							<p></p>
							
							
							
							<select id="cargos" class="form-select" th:field="*{idTipoLogradouroFk}">
								<option value="">Selecione o tipo</option>
								<option th:each="d : ${idTipoLogradouroFk}" th:value="${d.id}"th:text="${d.nomeTipoLogradouro}">ADM</option>
							</select>	
							<p></p>
							
							<input type="text"
								class="form-control form-control-sm uppercase" autofocus="autofocus" 
								id="codigo" placeholder="Logradouro" th:field="*{enderecoLogradouro}" /> 
							<p></p>
							
							<input type="text"
								class="form-control form-control-sm uppercase" autofocus="autofocus" 
								id="codigo" placeholder="Número" th:field="*{enderecoNumero}" />
							<p></p>
							
							<input type="text"
								class="form-control form-control-sm uppercase" autofocus="autofocus" 
								id="codigo" placeholder="Complemento" th:field="*{enderecoComplemento}" />
							<p></p>
							
							<input type="text"
								class="form-control form-control-sm uppercase" autofocus="autofocus" 
								id="codigo" placeholder="Bairro" th:field="*{enderecoBairro}" />
							<p></p>
							
							<select id="cargos" class="form-select" th:field="*{idEnderecoCidadeFk}">
								<option value="">Selecione a Cidade</option>
								<option th:each="d : ${idEnderecoCidadeFk}" th:value="${d.id}"th:text="${d.nomeCidade+' - '+d.idUfFk.nomeUf+' - '+d.idPaisFk.nomePais}">ADM</option>
							</select>		
							<p></p>
							
							<input type="hidden" id="id" th:field="*{id}" />
							<input type="hidden" id="pessoa" th:field="${pessoa}" />
							<p></p>					
						
						<button class="btn btn-outline-dark">Enviar</button>
						
						
					</div>
				</div>
			</form>
		</div>
		
		
		
		<div class="container" id="listagem">	        
	    	<div th:replace="fragments/alert"></div>
	    	
	        <div style="height: 500px; overflow-y: auto;" class="table-responsive">
	        	<table class="table table-striped table-hover table-sm myTable">
	            	<thead>
	          			<tr>
		                	<th>#</th>
		                    <th>Tipo</th>
		                    <th>Logradouro</th>
		                    <th>Número</th>
		                    <th>Complemento</th>
		                    <th>Bairro</th>
		                    <th>CEP</th>
		                    <th>Cidade</th>
		                    <th>Nome</th>
		                    <th>CPF</th>
		                    <th>Ações</th>
	                    </tr>
	                </thead>                  
	                <tbody>
		            	<tr th:each="d : ${pessoaDocumentosLista7}">
		                	<td th:text="${d.id}"></td>
		                	<td th:text="${d.idTipoLogradouroFk.nomeTipoLogradouro}"></td>
		                    <td th:text="${d.enderecoLogradouro}"></td>
		                    <td th:text="${d.enderecoNumero}"></td>
		                    <td th:text="${d.enderecoComplemento}"></td>
		                    <td th:text="${d.enderecoBairro}"></td>
		                    <td th:text="${d.enderecoCep}"></td>
		                    <td th:text="${d.idEnderecoCidadeFk.nomeCidade}"></td>
		                    <td th:text="${d.idPessoaFk.nome}"></td>
		                    <td th:text="${d.idPessoaFk.cpf}"></td>
		                    <td colspan="2">
		                    	<a class="btn btn-outline-info btn-sm" th:href="@{/enderecos/editar/{id} (id=${d.id}) }" role="button">
		                        	<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
		                        </a>
		                        <button th:id="${ 'btn_enderecos/excluir/endereco/' + d.id}" type="button" class="btn btn btn-outline-danger btn-sm" 
		                            		data-toggle="modal" data-target="#myModal">
		                                <span class="oi oi-circle-x" title="Exclusão habilitada" aria-hidden="true"></span>
		                        </button>
		                   	</td>
						</tr>
					</tbody>                    
	            </table>
	         </div>
		</div>	
			
			
			
					
			
			
			
			
		</div>
		
		
		<div th:replace="fragments/modal :: modal"></div>
	</section>
</body>
</html>
