<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<form action="/classes/carreira/listar">
				<div class=" layout-content">
					<button class="btn btn-outline-dark" >Listar</button>
					<a class="btn btn-outline-dark btn-md" href="/classes/carreira/cadastrar"
						role="button"> <span class="oi oi-plus" title="Cadastro"
						aria-hidden="true"></span> <span>Novo</span>
					</a>
				</div>
			</form>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>
			<form
				th:action="${classesCarreira.id == null} ? @{/classes/carreira/salvar} : @{/classes/carreira/editar}"
				th:object="${classesCarreira}" method="POST">
				<div class="form-row">

					<div class="form-group col-md-6">
						<label for="nome" class="fonte-tutulos-tamanho">Cadastro de Classes de Carreira</label>
							
							<input type="text"
								class="form-control form-control-md" autofocus="autofocus"
								id="siglaClasse" placeholder="Sigla" th:field="*{siglaClasse}" /> 
							<p></p>
							<input type="text"
								class="form-control form-control-md" autofocus="autofocus"
								id="nomeClasse" placeholder="Classe" th:field="*{nomeClasse}" />						
							<p></p>
							<input type="text" class="form-control form-control-md"	autofocus="autofocus" 
								id="descricaoClasse" placeholder="Descrição" th:field="*{descricaoClasse}" />
							
							<input type="hidden" id="id" th:field="*{id}" />
								<p></p>					
						<button class="btn btn-outline-dark">Cadastrar</button>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>
