<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></head>
<body>
 
	<nav class="sidebar" th:fragment="nav-sidebar">
		<div class="text">RH-WEB
		</div>
		
		<ul>
			<li class="active">
				<a href="/"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Home</a>
			</li>
			<!--submenu configuracoes-->
			<li>
				<a class="k-btn"><span class=" oi oi-chevron-bottom eleventh icones-sidebar-tamanho align-middle"></span> Configurações </a>				
				<ul class="k-show">
					<li>
						<a class="l-btn"><span class=" oi oi-chevron-bottom twelfth icones-sidebar-tamanho align-middle"></span> Operadores </a>
						<ul class="l-show">
							<li><a href="#">Cadastro de Operadores</a></li>
							<li><a href="#">Cadastro de Privilégios (níveis de acessso)</a></li>
						</ul>
					</li>

					<li>
						<a class="g-btn"><span class=" oi oi-chevron-bottom seventh icones-sidebar-tamanho align-middle"></span> Unidades de Saúde</a>
						<ul class="g-show">
							<li><a href="#">Cadastro de Regime de Unidade de Lotação</a></li>
						</ul>
					</li>

					<li><a class="a-btn"><span class=" oi oi-chevron-bottom first icones-sidebar-tamanho align-middle"></span> RH - Carreiras </a>
						<ul class="a-show">
							<li><a href="#">Cadastro de Carreiras</a></li>
							<li><a href="#">Cadastro de Níveis Carreira</a></li>
							<li><a href="#">Cadastro de Classes</a></li>
						</ul>
					</li>

					<li><a class="b-btn"><span class=" oi oi-chevron-bottom second icones-sidebar-tamanho align-middle"></span> RH - Cargos </a>
						<ul class="b-show">
							<li><a href="#">Cadastro de Cargos</a></li>
							<li><a href="#">Cadastro de Especialidades - Cargo</a></li>
							<li><a href="#">Cadastro de Níveis do Cargo</a></li>
						</ul>
					</li>

					<li><a class="c-btn"><span class=" oi oi-chevron-bottom third icones-sidebar-tamanho align-middle"></span> RH - Pessoais </a>
						<ul class="c-show">
							<li><a href="#">Cadastro de Escolaridade</a></li>
							<li><a href="/estadosCivis/cadastrar">Cadastro de Estados Civis</a></li>
							<li><a href="/sexos/cadastrar">Cadastro de Sexo</a></li>
							<li><a href="#">Cadastro de Tipos de Filiação</a></li>
						</ul>
					</li>

					<li><a class="d-btn"><span class=" oi oi-chevron-bottom fourth icones-sidebar-tamanho align-middle"></span>RH - Profissionais </a>
						<ul class="d-show">
							<li><a href="#">Cadastro de Carga Horaria Semanal</a></li>
							<li><a href="#">Cadastro de Tipos de Folha</a></li>
							<li><a href="#">Cadastro de Situações</a></li>
							<li><a href="#">Cadastro de Vínculos</a></li>
							<li><a href="/bancos/cadastrar">Cadastro de Bancos</a></li>
						</ul>
					</li>

					<li><a class="e-btn"><span class=" oi oi-chevron-bottom fifth icones-sidebar-tamanho align-middle"></span>RH - Regionais </a>
						<ul class="e-show">
							<li><a href="#">Cadastro de Países</a></li>
							<li><a href="#">Cadastro de UF</a></li>
							<li><a href="#">Cadastro de Cidades</a></li>
							<li><a href="#">Cadastro de Tipos de Logradouro</a></li>
						</ul>
					</li>

					<li><a class="f-btn"><span class=" oi oi-chevron-bottom sixth icones-sidebar-tamanho align-middle"></span> RH - Tipos de Documento </a>
						<ul class="f-show">
							<li><a href="#">Cadastro de Categorias de Habilitação Trânsito</a></li>
							<li><a href="#">Cadastro de Tipos de Documento</a></li>
							<li><a href="#">Cadastro de Conselhos</a></li>
						</ul>
					</li>	
				</ul>			
			</li>

			<li><a href="#" class="h-btn"><span class=" oi oi-chevron-bottom eigth icones-sidebar-tamanho align-middle"></span> Recursos Humanos </a>
				<ul class="h-show">				
					<li><a href="#" class="i-btn"><span class=" oi oi-chevron-bottom nineth icones-sidebar-tamanho align-middle"></span>Cadastro de Pessoas </a>
						<ul class="i-show">
							<li><a href="#">Cadastro de Pessoas</a></li>
						</ul>
					</li>

					<li><a href="#" class="j-btn"><span class=" oi oi-chevron-bottom tenth icones-sidebar-tamanho align-middle"></span> Cadastro de Unidades </a>
						<ul class="j-show">
							<li><a href="#">Cadastro de Unidades</a></li>
						</ul>
					</li>
					<li><a href="#">Cadastro de Autorizações</a></li>
				</ul>
			</li>

			<li><a href="#" class="m-btn"><span class=" oi oi-chevron-bottom thirteenth icones-sidebar-tamanho align-middle"></span>Menu 12 </a>
				<ul class="m-show">
					<li><a href="#">App Design</a></li>
					<li><a href="#">Web Design</a></li>
				</ul>
			</li>

			<li><a href="#" class="n-btn"><span class=" oi oi-chevron-bottom fourteenth icones-sidebar-tamanho align-middle"></span>Menu 13 </a>
				<ul class="n-show">
					<li><a href="#">App Design</a></li>
					<li><a href="#">Web Design</a></li>
				</ul>
			</li>

			<li><a href="#" class="o-btn"><span class=" oi oi-chevron-bottom fifteenth icones-sidebar-tamanho align-middle"></span>Menu 14 </a>
				<ul class="o-show">
					<li><a href="#">App Design</a></li>
					<li><a href="#">Web Design</a></li>
				</ul>
			</li>

			<li><a href="#" class="p-btn"><span class=" oi oi-chevron-bottom sixteenth icones-sidebar-tamanho align-middle"></span>Menu 15 </a>
				<ul class="p-show">
					<li><a href="#">App Design</a></li>
					<li><a href="#">Web Design</a></li>
				</ul>
			</li>

			<li><a href="#" class="q-btn"><span class=" oi oi-chevron-bottom seventeenth icones-sidebar-tamanho align-middle"></span>Menu 16 </a>
				<ul class="q-show">
					<li><a href="#">App Design</a></li>
					<li><a href="#">Web Design</a></li>
				</ul>
			</li>

			<li><a href="#" class="r-btn"><span class=" oi oi-chevron-bottom eighteenth icones-sidebar-tamanho align-middle"></span>Menu 17 </a>
				<ul class="r-show">
					<li><a href="#">App Design</a></li>
					<li><a href="#">Web Design</a></li>
				</ul>
			</li>

			<li><a href="#" class="s-btn"><span class=" oi oi-chevron-bottom nineteenth icones-sidebar-tamanho align-middle"></span>Menu 18 </a>
				<ul class="s-show">
					<li><a href="#">App Design</a></li>
					<li><a href="#">Web Design</a></li>
				</ul>
			</li>

			<li><a href="#" class="t-btn"><span class=" oi oi-chevron-bottom twentyth icones-sidebar-tamanho align-middle"></span>Links Úteis </a>
				<ul class="t-show">
					<li><a href="https://www.gov.br/saude/pt-br" target="_blank">Ministério	da Saúde</a></li>
					<li><a href="https://www.saude.al.gov.br/" target="_blank">Saúde AL - SESAU</a></li>
					<li><a href="http://www.agenciaalagoas.al.gov.br/" target="_blank">Agência Alagoas</a></li>
					<li><a href="https://www.gov.br/inss/pt-br" target="_blank">INSS</a></li>
					<li><a href="http://www.alagoasprevidencia.al.gov.br/" target="_blank">AL Previdência</a></li>
					<li><a href="https://portaldoservidor.seplag.al.gov.br/login/"target="_blank">Contracheque Seplag</a></li>
					<li><a href="http://sishge.saude.al.gov.br:8080/index.php?class=LoginForm" target="_blank">Sistema Web HGE</a></li>
				</ul>
			</li>
			
			<li><a href="/logout"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Logout</a></li>
		</ul>
	</nav>

</body>
</html>