<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></head>
<body>
 
	<nav class="sidebar" th:fragment="nav-sidebar">
		<div class="text">GENTE-WEB
		</div>
		
		<ul>
			<li class="active">
				<a href="/"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Home</a>
			</li>
			<!--submenu configuracoes-->
			<li>
				<a class="k-btn"><span class=" oi oi-chevron-bottom eleventh icones-sidebar-tamanho align-middle"></span> Configurações </a>				
				<ul class="k-show">
					<li>
						<a class="l-btn"><span class=" oi oi-chevron-bottom twelfth icones-sidebar-tamanho align-middle"></span> Operadores </a>
						<ul class="l-show">
						
							<li><a href="#" class="ad-btn"><span class=" oi oi-chevron-bottom thirtyth icones-sidebar-tamanho align-middle"></span>Operadores </a>
								<ul class="ad-show">
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
						
							<li><a href="#" class="ae-btn"><span class=" oi oi-chevron-bottom thirtyfirst icones-sidebar-tamanho align-middle"></span>Privilégios (Níveis de Acessso) </a>
								<ul class="ae-show">
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar </a></li>
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
						
							
							
						</ul>
					</li>

					<li>
						<a class="g-btn"><span class=" oi oi-chevron-bottom seventh icones-sidebar-tamanho align-middle"></span> Unidades de Saúde</a>
						<ul class="g-show">
							
							<li><a href="#" class="af-btn"><span class=" oi oi-chevron-bottom thirtysecond icones-sidebar-tamanho align-middle"></span>Regimes de Unidade de Lotação </a>
								<ul class="af-show">
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
						
							
						</ul>
					</li>

					<li><a class="a-btn"><span class=" oi oi-chevron-bottom first icones-sidebar-tamanho align-middle"></span> RH - Carreiras </a>
						<ul class="a-show">
						
							<li><a href="#" class="ag-btn"><span class=" oi oi-chevron-bottom thirtythird icones-sidebar-tamanho align-middle"></span>Carreiras </a>
								<ul class="ag-show">
									<li><a href="/carreiras/cadastrar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="/carreiras/listar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
						
							<li><a href="#" class="ah-btn"><span class=" oi oi-chevron-bottom thirtyfourth icones-sidebar-tamanho align-middle"></span>Níveis de Carreira </a>
								<ul class="ah-show">
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
							
							<li><a href="#" class="ai-btn"><span class=" oi oi-chevron-bottom thirtyfifth icones-sidebar-tamanho align-middle"></span>Classes </a>
								<ul class="ai-show">
									<li><a href="/classes/cadastrar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="/classes/listar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
							
						</ul>
					</li>

					<li><a class="b-btn"><span class=" oi oi-chevron-bottom second icones-sidebar-tamanho align-middle"></span> RH - Cargos </a>
						<ul class="b-show">
						
							<li><a href="#" class="aj-btn"><span class=" oi oi-chevron-bottom thirtysixth icones-sidebar-tamanho align-middle"></span>Cargos </a>
								<ul class="aj-show">
									<li><a href="/cargos/cadastrar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="/cargos/listar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
						
							<li><a href="#" class="ak-btn"><span class=" oi oi-chevron-bottom thirtyseventh icones-sidebar-tamanho align-middle"></span>Especialidades - Cargo</a>
								<ul class="ak-show">
									<li><a href="/especialidades/cadastrar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="/especialidades/listar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>			
							
							<li><a href="#" class="al-btn"><span class=" oi oi-chevron-bottom thirtyeighth icones-sidebar-tamanho align-middle"></span>Nível do Cargo </a>
								<ul class="al-show">
									<li><a href="/niveis/cadastrar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="/niveis/listar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
							
							
						</ul>
					</li>

					<li><a class="c-btn"><span class=" oi oi-chevron-bottom third icones-sidebar-tamanho align-middle"></span> RH - Pessoais </a>
						<ul class="c-show">
						
							<li><a href="#" class="o-btn"><span class=" oi oi-chevron-bottom fifteenth icones-sidebar-tamanho align-middle"></span>Escolaridade </a>
								<ul class="o-show">
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
							
							<li><a href="#" class="p-btn"><span class=" oi oi-chevron-bottom sixteenth icones-sidebar-tamanho align-middle"></span>Estados Civis </a>
								<ul class="p-show">
									<li><a href="/estadosCivis/cadastrar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="/estadosCivis/listar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
							
							<li><a href="#" class="q-btn"><span class=" oi oi-chevron-bottom seventeenth icones-sidebar-tamanho align-middle"></span>Sexos </a>
								<ul class="q-show">
									<li><a href="/sexos/cadastrar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="/sexos/listar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
							
							<li><a href="#" class="r-btn"><span class=" oi oi-chevron-bottom eighteenth icones-sidebar-tamanho align-middle"></span>Tipos de Filiação </a>
								<ul class="r-show">
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
							
						</ul>
					</li>

					<li><a class="d-btn"><span class=" oi oi-chevron-bottom fourth icones-sidebar-tamanho align-middle"></span>RH - Profissionais </a>
						<ul class="d-show">
						
							<li><a href="#" class="m-btn"><span class=" oi oi-chevron-bottom thirteenth icones-sidebar-tamanho align-middle"></span>Carga Horaria Semanal </a>
								<ul class="m-show">
									<li><a href="/cargahorariasemanais/cadastrar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="/cargahorariasemanais/listar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
							
							<li><a href="#" class="s-btn"><span class=" oi oi-chevron-bottom nineteenth icones-sidebar-tamanho align-middle"></span>Tipos de Folha </a>
								<ul class="s-show">
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
							
							<li><a href="#" class="u-btn"><span class=" oi oi-chevron-bottom twentyfirst icones-sidebar-tamanho align-middle"></span>Situações </a>
								<ul class="u-show">
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
							
							<li><a href="#" class="v-btn"><span class=" oi oi-chevron-bottom twentysecond icones-sidebar-tamanho align-middle"></span>Vínculos </a>
								<ul class="v-show">
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
							
							<li><a href="#" class="n-btn"><span class=" oi oi-chevron-bottom fourteenth icones-sidebar-tamanho align-middle"></span>Bancos </a>
								<ul class="n-show">
									<li><a href="/bancos/cadastrar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="/bancos/listar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
							
						</ul>
					</li>

					<li><a class="e-btn"><span class=" oi oi-chevron-bottom fifth icones-sidebar-tamanho align-middle"></span>RH - Regionais </a>
						<ul class="e-show">
							
							<li><a href="#" class="w-btn"><span class=" oi oi-chevron-bottom twentythird icones-sidebar-tamanho align-middle"></span>Paises </a>
								<ul class="w-show">
									<li><a href="/paises/cadastrar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="/paises/listar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
							
							<li><a href="#" class="x-btn"><span class=" oi oi-chevron-bottom twentyfourth icones-sidebar-tamanho align-middle"></span>UF </a>
								<ul class="x-show">
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
							
							<li><a href="#" class="y-btn"><span class=" oi oi-chevron-bottom twentyfifth icones-sidebar-tamanho align-middle"></span>Cidades </a>
								<ul class="y-show">
									<li><a href="/cidades/cadastrar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="/cidades/listar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
							
							<li><a href="#" class="z-btn"><span class=" oi oi-chevron-bottom twentysixth icones-sidebar-tamanho align-middle"></span>Tipos de Logradouro </a>
								<ul class="z-show">
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
							
						</ul>
					</li>

					<li><a class="f-btn"><span class=" oi oi-chevron-bottom sixth icones-sidebar-tamanho align-middle"></span> RH - Tipos de Documento </a>
						<ul class="f-show">
						
							<li><a href="#" class="aa-btn"><span class=" oi oi-chevron-bottom twentyseventh icones-sidebar-tamanho align-middle"></span>Categorias Habilitação de Trânsito </a>
								<ul class="aa-show">
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
						
							<li><a href="#" class="ab-btn"><span class=" oi oi-chevron-bottom twentyeighth icones-sidebar-tamanho align-middle"></span>Tipos de Documento </a>
								<ul class="ab-show">
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
							
							<li><a href="#" class="ac-btn"><span class=" oi oi-chevron-bottom twentynineth icones-sidebar-tamanho align-middle"></span>Conselhos </a>
								<ul class="ac-show">
									<li><a href="/concelhos/cadastrar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastrar</a></li>
									<li><a href="/concelhos/listar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Listar</a></li>
								</ul>
							</li>
							
							
						</ul>
					</li>	
				</ul>			
			</li>

			<li><a href="#" class="h-btn"><span class=" oi oi-chevron-bottom eigth icones-sidebar-tamanho align-middle"></span> Recursos Humanos </a>
				<ul class="h-show">				
					<li><a href="#" class="i-btn"><span class=" oi oi-chevron-bottom nineth icones-sidebar-tamanho align-middle"></span>Cadastro de Pessoas </a>
						<ul class="i-show">
							<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastro de Pessoas</a></li>
						</ul>
					</li>

					<li><a href="#" class="j-btn"><span class=" oi oi-chevron-bottom tenth icones-sidebar-tamanho align-middle"></span> Cadastro de Unidades </a>
						<ul class="j-show">
							<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastro de Unidades</a></li>
						</ul>
					</li>
					<li><a href="/autorizacoes/cadastrar"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Cadastro de Autorizações</a></li>
				</ul>
			</li>

			
			

			
			
			
			
			<li><a href="#" class="am-btn"><span class=" oi oi-chevron-bottom thirtynineth icones-sidebar-tamanho align-middle"></span>Menu 18 </a>
				<ul class="am-show">
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>App Design</a></li>
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Web Design</a></li>
				</ul>
			</li>
			
			<li><a href="#" class="an-btn"><span class=" oi oi-chevron-bottom fourtyth icones-sidebar-tamanho align-middle"></span>Menu 18 </a>
				<ul class="an-show">
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>App Design</a></li>
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Web Design</a></li>
				</ul>
			</li>
			
			<li><a href="#" class="ao-btn"><span class=" oi oi-chevron-bottom fourtyfirst icones-sidebar-tamanho align-middle"></span>Menu 18 </a>
				<ul class="ao-show">
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>App Design</a></li>
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Web Design</a></li>
				</ul>
			</li>
			
			<li><a href="#" class="ap-btn"><span class=" oi oi-chevron-bottom fourtysecond icones-sidebar-tamanho align-middle"></span>Menu 18 </a>
				<ul class="ap-show">
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>App Design</a></li>
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Web Design</a></li>
				</ul>
			</li>
			
			<li><a href="#" class="aq-btn"><span class=" oi oi-chevron-bottom fourtythird icones-sidebar-tamanho align-middle"></span>Menu 18 </a>
				<ul class="aq-show">
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>App Design</a></li>
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Web Design</a></li>
				</ul>
			</li>
			
			<li><a href="#" class="ar-btn"><span class=" oi oi-chevron-bottom fourtyfourth icones-sidebar-tamanho align-middle"></span>Menu 18 </a>
				<ul class="ar-show">
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>App Design</a></li>
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Web Design</a></li>
				</ul>
			</li>
			
			<li><a href="#" class="as-btn"><span class=" oi oi-chevron-bottom fourtyfifth icones-sidebar-tamanho align-middle"></span>Menu 18 </a>
				<ul class="as-show">
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>App Design</a></li>
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Web Design</a></li>
				</ul>
			</li>
			
			<li><a href="#" class="at-btn"><span class=" oi oi-chevron-bottom fourtysixth icones-sidebar-tamanho align-middle"></span>Menu 18 </a>
				<ul class="at-show">
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>App Design</a></li>
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Web Design</a></li>
				</ul>
			</li>
			
			<li><a href="#" class="au-btn"><span class=" oi oi-chevron-bottom fourtyseventh icones-sidebar-tamanho align-middle"></span>Menu 18 </a>
				<ul class="au-show">
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>App Design</a></li>
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Web Design</a></li>
				</ul>
			</li>
			
			
			<li><a href="#" class="av-btn"><span class=" oi oi-chevron-bottom fourtyeighth icones-sidebar-tamanho align-middle"></span>Menu 18 </a>
				<ul class="av-show">
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>App Design</a></li>
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Web Design</a></li>
				</ul>
			</li>
			
			<li><a href="#" class="aw-btn"><span class=" oi oi-chevron-bottom fourtynineth icones-sidebar-tamanho align-middle"></span>Menu 18 </a>
				<ul class="aw-show">
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>App Design</a></li>
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Web Design</a></li>
				</ul>
			</li>
			
			<li><a href="#" class="ax-btn"><span class=" oi oi-chevron-bottom fiftyth icones-sidebar-tamanho align-middle"></span>Menu 18 </a>
				<ul class="ax-show">
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>App Design</a></li>
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Web Design</a></li>
				</ul>
			</li>
			
			<li><a href="#" class="ay-btn"><span class=" oi oi-chevron-bottom fiftyfirst icones-sidebar-tamanho align-middle"></span>Menu 18 </a>
				<ul class="ay-show">
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>App Design</a></li>
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Web Design</a></li>
				</ul>
			</li>
			
			<li><a href="#" class="az-btn"><span class=" oi oi-chevron-bottom fiftysecond icones-sidebar-tamanho align-middle"></span>Menu 18 </a>
				<ul class="az-show">
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>App Design</a></li>
					<li><a href="#"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Web Design</a></li>
				</ul>
			</li>
			
			
			
			

			<li><a href="#" class="t-btn"><span class=" oi oi-chevron-bottom twentyth icones-sidebar-tamanho align-middle"></span>Links Úteis </a>
				<ul class="t-show">
					<li><a href="https://www.gov.br/saude/pt-br" target="_blank"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Ministério	da Saúde</a></li>
					<li><a href="https://www.saude.al.gov.br/" target="_blank"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Saúde AL - SESAU</a></li>
					<li><a href="http://www.agenciaalagoas.al.gov.br/" target="_blank"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Agência Alagoas</a></li>
					<li><a href="https://www.gov.br/inss/pt-br" target="_blank"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>INSS</a></li>
					<li><a href="http://www.alagoasprevidencia.al.gov.br/" target="_blank"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>AL Previdência</a></li>
					<li><a href="https://portaldoservidor.seplag.al.gov.br/login/"target="_blank"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Contracheque Seplag</a></li>
					<li><a href="http://sishge.saude.al.gov.br:8080/index.php?class=LoginForm" target="_blank"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Sistema Web HGE</a></li>
				</ul>
			</li>
			
			<li><a href="/logout"><span class=" oi oi-chevron-right icones-sidebar-tamanho align-middle"></span>Logout</a></li>
		</ul>
	</nav>

</body>
</html>