<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<form action="/vinculos/listar">
				<div class=" layout-content">
					<button class="btn btn-outline-dark" >Listar</button>
					<a class="btn btn-outline-dark btn-md" href="/vinculos/cadastrar"
						role="button"> <span class="oi oi-plus" title="Cadastro"
						aria-hidden="true"></span> <span>Novo</span>
					</a>
				</div>
			</form>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>
			<form
				th:action="${vinculos.id == null} ? @{/vinculos/salvar} : @{/vinculos/editar}"
				th:object="${vinculos}" method="POST">
				<div class="form-row">

					<div class="form-group col-md-6">
						<label for="nome" class="fonte-tutulos-tamanho">Cadastro de Vínculos</label>
							
							<input type="text"
								class="form-control form-control-md" autofocus="autofocus"
								id="nomeVinculo" placeholder="Vínculo" th:field="*{nomeVinculo}" /> 
							<p></p>
							<input type="text"
								class="form-control form-control-md" autofocus="autofocus"
								id="descricaoVinculo" placeholder="Descrição" th:field="*{descricaoVinculo}" />						
							<p></p>
							
							
							<input type="hidden" id="id" th:field="*{id}" />
								<p></p>					
						<button class="btn btn-outline-dark">Cadastrar</button>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>
