<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<form th:action="@{/funcionariosferiasperiodos/listar}">
				<div class=" layout-content">
					<a class="btn btn-outline-light oi oi-action-undo" type="button" href="javascript:history.back()"></a>
					<a class="btn btn-outline-light oi oi-action-redo" type="button" href="javascript:history.forward()"></a>
					<button class="btn btn-outline-dark" >Listar</button>
					<a class="btn btn-outline-dark btn-md" th:href="@{/funcionariosferias/periodos/{id}}"
						role="button"> <span class="oi oi-plus" title="Cadastro"
						aria-hidden="true"></span> <span>Novo</span>
					</a>
				</div>
			</form>
		</nav>

		<div class="container" id="cadastro">
			<tr th:each="d : ${ferias}"> 
			    <td style="font-size:11px;"  th:text="${d.idFuncionarioFk.idPessoaFk.nome}"></td>
			    <td style="font-size:11px;"  th:text="${d.idFuncionarioFk.idEspecialidadeAtualFk.idCargoFk.nomeCargo+'-'+d.idFuncionarioFk.idEspecialidadeAtualFk.nomeEspecialidadeCargo}"></td>
			    <td style="font-size:11px;"  th:text="${d.anoReferencia}"></td> 
			    <td colspan="2">
			</tr>
			<div th:replace="fragments/alert"></div>
			<form
				th:action="@{/funcionariosferias/salvar/periodos}"
				th:object="${funcionariosFeriasPeriodos}" method="POST">
				<div class="form-row">

					<div class="form-group col-md-6">
						<label for="nome" class="fonte-tutulos-tamanho">Cadastar Períodos de Férias</label>
							
							<label for="nome" class="">Data Inicial </label>
							<input type="text"
								class="form-control form-control-md" autofocus="autofocus"
								id="descricao" placeholder="Data Inicial" th:field="*{dtInicial}" />						
							<p></p>
							
							<label for="nome" class="">Data Final </label>
							<input type="text"
								class="form-control form-control-md" autofocus="autofocus"
								id="instituicao" placeholder="Data Final" th:field="*{dtFinal}" />						
							<p></p>
							

							<label for="nome" class="">Data Assinatura </label>
							<input type="text"
								class="form-control form-control-md" autofocus="autofocus"
								id="instituicao" placeholder="Data de Assinatura" th:field="*{dtAssinatura}" />						
							<p></p>

													
							<input type="hidden" id="id" th:field="*{id}" />
							<input type="hidden" id="id" th:field="*{motivoCancelamento}" />
							<input type="hidden" id="id" th:field="*{dtCancelamento}" />
							<input type="hidden" id="id" th:field="*{dtCadastro}" />
							<input type="hidden" id="id" th:field="*{idFeriasFk}" />

							<p></p>

						<button class="btn btn-outline-dark">Cadastrar</button>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>
