<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<form th:action="@{/funcionarioscapacitacoes/listar}">
				<div class=" layout-content">
					<a class="btn btn-outline-light oi oi-action-undo" type="button" href="javascript:history.back()"></a>
					<a class="btn btn-outline-light oi oi-action-redo" type="button" href="javascript:history.forward()"></a>
					<button class="btn btn-outline-dark" >Listar</button>
					<a class="btn btn-outline-dark btn-md" th:href="@{/funcionarioscapacitacoes/cadastrar}"
						role="button"> <span class="oi oi-plus" title="Cadastro"
						aria-hidden="true"></span> <span>Novo</span>
					</a>
				</div>
			</form>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>
			<form
				th:action="${funcionariosCapacitacoes.id == null} ? @{/funcionarioscapacitacoes/salvar} : @{/funcionarioscapacitacoes/salvar}"
				th:object="${funcionariosCapacitacoes}" method="POST">
				<div class="form-row">

					<div class="form-group col-md-6">
						<label for="nome" class="fonte-tutulos-tamanho">Cadastar Capacitações</label>
							
							<label for="nome" class="">Descrição da Capacitação</label>
							<input type="text"
								class="form-control form-control-md uppercase" autofocus="autofocus"
								id="descricao" placeholder="Descricao" th:field="*{descricao}" />						
							<p></p>
							
							<label for="nome" class="">Instituição</label>
							<input type="text"
								class="form-control form-control-md uppercase" autofocus="autofocus"
								id="instituicao" placeholder="Instituicao" th:field="*{instituicao}" />						
							<p></p>
							
							<label for="nome" class="">Carga Horária</label>
							<input type="number"
								class="form-control form-control-md uppercase" autofocus="autofocus"
								id="cargaHoraria" placeholder="Carga Horaria" th:field="*{cargaHoraria}" />						
							<p></p>
							
							<label for="nome" class="">Data Inicial</label>
							<input type="text"
								class="form-control form-control-md uppercase" autofocus="autofocus" data-mask="00/00/0000"
								id="dtInicial" placeholder="Data Inicial" th:field="*{dtInicial}" />						
							<p></p>
							
							<label for="nome" class="">Data Final</label>
							<input type="text"
								class="form-control form-control-md uppercase" autofocus="autofocus" data-mask="00/00/0000"
								id="dtFinal" placeholder="Data Final" th:field="*{dtFinal}" />						
							<p></p>
							
							
							<label for="nome" class="">Selecione o Tipo de Capacitação</label>
							<select id="UnidadesRegime" class="form-select" th:field="*{idTiposCapacitacaoFk}">
								<option value=""></option>
								<option class="form-select" th:each="d : ${idTiposCapacitacaoFk}" th:value="${d.id}"th:text="${d.tipoCapacitacao}"  selected >ADM</option>
							</select>	
					        <p></p>
					        
					        <label for="nome" class="">Selecione Área De Capacitação</label>
					        
							<select id="UnidadesRegime" class="form-select" th:field="*{idAreaDeCapacitacaoFk}">
								<option value=""></option>
								<option class="form-select" th:each="d : ${idAreaDeCapacitacaoFk}" th:value="${d.id}"th:text="${d.areaDeCapacitacao}"  selected >ADM</option>
							</select>	
					        <p></p>
					        
					        <label for="nome" class="">Observações</label>
					        <input type="text"
								class="form-control form-control-md uppercase" autofocus="autofocus"
								id="observacoes" placeholder="Observações" th:field="*{observacoes}" />						
							<p></p>
					        
					        
							<p></p>
							
							
							
							
							
							
					<input type="hidden" id="id" th:field="*{id}" />
								<p></p>					
						<button class="btn btn-outline-dark">Cadastrar</button>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>
