<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<form th:action="@{/rubricaInsalubridadeCodigo/listar}">
				<div class=" layout-content">
			        <a class="btn btn-outline-light oi oi-action-undo" type="button" href="javascript:history.back()"></a>
					<a class="btn btn-outline-light oi oi-action-redo" type="button" href="javascript:history.forward()"></a>    
					<button class="btn btn-outline-dark" >Listar</button>
					<a class="btn btn-outline-dark btn-md" th:href="@{/rubricaInsalubridadeCodigo/cadastrar}"
						role="button"> <span class="oi oi-plus" title="Cadastro"
						aria-hidden="true"></span> <span>Novo</span>
					</a>
				</div>
			</form>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>
			<form
				th:action="${rubricaInsalubridadeCodigo.id == null} ? @{/rubricaInsalubridadeCodigo/salvar} : @{/rubricaInsalubridadeCodigo/editar}"
				th:object="${rubricaInsalubridadeCodigo}" method="POST">
				<div class="form-row">

					<div class="form-group col-md-6">
						<label for="nome" class="fonte-tutulos-tamanho">Cadastro de Códigos para Rubrica Insalubridade</label>
							<p></p>
							
							<label for="nome" class="">Código </label>
							<input type="text"
								class="form-control form-control-md" autofocus="autofocus"
								id="codigo" placeholder="Código" th:field="*{codigo}" /> 
							<p></p>
							
							<label for="nome" class="">Descrição </label>
							<input type="text"
								class="form-control form-control-md" autofocus="autofocus"
								id="descricao" placeholder="Descricao" th:field="*{descricao}" /> 
							<p></p>
							
							<label for="nome" class="">Natureza </label>
							<select id="idNaturezaFk" class="form-select" th:field="*{idNaturezaFk}">
								<option value="">Selecione a Natureza</option>
								<option class="form-select" th:each="d : ${idNaturezaFk}" th:value="${d.id}"th:text="${d.descricao }" selected >ADM</option>
							</select>	
							<p></p>	
							
							
							<input type="hidden" id="id" th:field="*{id}" />
								<p></p>					
						<button class="btn btn-outline-dark">Cadastrar</button>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>
