<!DOCTYPE html>
<html lang="pt" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.tymeleaf.org" xmlns:data="http://www.thymeleaf.org/extras/data" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:layout= "http://www.ultraq.net.nz/">
<head>
    <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
    <!-- <title>Sidebar Menu with sub-menu | CodingNepal</title> -->
      
    <title>GENTE-WEB</title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="shortcut icon" href="/image/logo.ico" type="image/x-icon" />

	<!-- Bootstrap core CSS -->
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
	
		
	<!-- Custom styles for this template -->
	<link href="/css/style.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    
    
    

    
  </head>

<body>

	<header th:replace="fragments/header :: cabecalho">
		<div>header</div>
	</header>

	<div class= "layout-main">
		<aside>
			<nav th:replace="fragments/sidebar :: nav-sidebar">
				<span>menu</span>
			</nav>
		</aside>
		
		<section layout:fragment = "corpo">
			<div>Conteudo principal das paginas</div>
		</section>
	</div>

	<footer th:replace="fragments/footer :: rodape">
		<div>footer</div>
	</footer>

<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	    
	    var url = '';
		
		$('button[id*="btn_"]').click(function() {
			url = "http://localhost:8080/" + $(this).attr('id').split("_")[1];
		});
		
		$('#ok_confirm').click(function() {
			document.location.href = url;
		});
	    
	    
		$(function() {
			$('[data-toggle="popover"]').popover();
		});
		
		$(document).ready(function(){
		    $(".navbar-toggle").click(function(){
		        $(".sidebar").toggleClass("sidebar-open");
		    })
		});

	    
	      $('.btn-sidebar').click(function(e){
	      $(this).toggleClass("click");
	      $('.sidebar').toggleClass("show");
	    });
	      
	      
	      $('.a-btn').click(function(e){
	        $('nav ul .a-show').toggleClass("show10");
	        $('nav ul .first').toggleClass("rotate");
	      });
	      
	      $('.b-btn').click(function(e){
	        $('nav ul .b-show').toggleClass("show10");
	        $('nav ul .second').toggleClass("rotate");
	      });
	      
	      $('.c-btn').click(function(e){
	        $('nav ul .c-show').toggleClass("show10");
	        $('nav ul .third').toggleClass("rotate");
	      });
	      
	      $('.d-btn').click(function(e){
	        $('nav ul .d-show').toggleClass("show10");
	        $('nav ul .fourth').toggleClass("rotate");
	      });
	      
	      $('.e-btn').click(function(e){
	        $('nav ul .e-show').toggleClass("show10");
	        $('nav ul .fifth').toggleClass("rotate");
	      });
	      
	      $('.f-btn').click(function(e){
	        $('nav ul .f-show').toggleClass("show10");
	        $('nav ul .sixth').toggleClass("rotate");
	      });
	      
	      $('.g-btn').click(function(e){
	        $('nav ul .g-show').toggleClass("show10");
	        $('nav ul .seventh').toggleClass("rotate");
	      });
	      
	      $('.h-btn').click(function(e){
	        $('nav ul .h-show').toggleClass("show10");
	        $('nav ul .eigth').toggleClass("rotate");
	      });
	      
	      $('.i-btn').click(function(e){
	        $('nav ul .i-show').toggleClass("show10");
	        $('nav ul .nineth').toggleClass("rotate");
	      });
	      
	      $('.j-btn').click(function(e){
	        $('nav ul .j-show').toggleClass("show10");
	        $('nav ul .tenth').toggleClass("rotate");
	      });
	      
	       $('.k-btn').click(function(e){
	        $('nav ul .k-show').toggleClass("show10");
	        $('nav ul .eleventh').toggleClass("rotate");
	      });
	     
	      $('.l-btn').click(function(e){
	        $('nav ul .l-show').toggleClass("show10");
	        $('nav ul .twelfth').toggleClass("rotate");
	      });
	     
	     $('.m-btn').click(function(e){
	        $('nav ul .m-show').toggleClass("show10");
	        $('nav ul .thirteenth').toggleClass("rotate");
	      });
	     
	     $('.n-btn').click(function(e){
	        $('nav ul .n-show').toggleClass("show10");
	        $('nav ul .fourteenth').toggleClass("rotate");
	      });
	     
	     $('.o-btn').click(function(e){
	        $('nav ul .o-show').toggleClass("show10");
	        $('nav ul .fifteenth').toggleClass("rotate");
	      });
	     
	     $('.p-btn').click(function(e){
	        $('nav ul .p-show').toggleClass("show10");
	        $('nav ul .sixteenth').toggleClass("rotate");
	      });
	     
	     $('.q-btn').click(function(e){
	        $('nav ul .q-show').toggleClass("show10");
	        $('nav ul .seventeenth').toggleClass("rotate");
	      });
	     
	     $('.r-btn').click(function(e){
	        $('nav ul .r-show').toggleClass("show10");
	        $('nav ul .eighteenth').toggleClass("rotate");
	      });
	     
	     $('.s-btn').click(function(e){
	        $('nav ul .s-show').toggleClass("show10");
	        $('nav ul .nineteenth').toggleClass("rotate");
	      });
	     
	     $('.t-btn').click(function(e){
	        $('nav ul .t-show').toggleClass("show10");
	        $('nav ul .twentyth').toggleClass("rotate");
	      });
	      
	      $('.u-btn').click(function(e){
	        $('nav ul .u-show').toggleClass("show10");
	        $('nav ul .twentyfirst').toggleClass("rotate");
	      });
	      
	      $('.v-btn').click(function(e){
	        $('nav ul .v-show').toggleClass("show10");
	        $('nav ul .twentysecond').toggleClass("rotate");
	      });
	      
	      $('.w-btn').click(function(e){
	        $('nav ul .w-show').toggleClass("show10");
	        $('nav ul .twentythird').toggleClass("rotate");
	      });
	      
	      $('.x-btn').click(function(e){
	        $('nav ul .x-show').toggleClass("show10");
	        $('nav ul .twentyfourth').toggleClass("rotate");
	      });
	      
	      $('.y-btn').click(function(e){
	        $('nav ul .y-show').toggleClass("show10");
	        $('nav ul .twentyfifth').toggleClass("rotate");
	      });
	      
	      $('.z-btn').click(function(e){
	        $('nav ul .z-show').toggleClass("show10");
	        $('nav ul .twentysixth').toggleClass("rotate");
	      });
	     	 
	     	 
	     	 
	      $('.aa-btn').click(function(e){
	        $('nav ul .aa-show').toggleClass("show10");
	        $('nav ul .twentyseventh').toggleClass("rotate");
	      }); 

	      $('.ab-btn').click(function(e){
	        $('nav ul .ab-show').toggleClass("show10");
	        $('nav ul .twentyeighth').toggleClass("rotate");
	      }); 

	      $('.ac-btn').click(function(e){
	        $('nav ul .ac-show').toggleClass("show10");
	        $('nav ul .twentynineth').toggleClass("rotate");
	      }); 

	      $('.ad-btn').click(function(e){
	        $('nav ul .ad-show').toggleClass("show10");
	        $('nav ul .thirtyth').toggleClass("rotate");
	      }); 

	      $('.ae-btn').click(function(e){
	        $('nav ul .ae-show').toggleClass("show10");
	        $('nav ul .thirtyfirst').toggleClass("rotate");
	      }); 

	      $('.af-btn').click(function(e){
	        $('nav ul .af-show').toggleClass("show10");
	        $('nav ul .thirtysecond').toggleClass("rotate");
	      }); 

	      $('.ag-btn').click(function(e){
	        $('nav ul .ag-show').toggleClass("show10");
	        $('nav ul .thirtythird').toggleClass("rotate");
	      }); 

	      $('.ah-btn').click(function(e){
	        $('nav ul .ah-show').toggleClass("show10");
	        $('nav ul .thirtyfourth').toggleClass("rotate");
	      }); 

	      $('.ai-btn').click(function(e){
	        $('nav ul .ai-show').toggleClass("show10");
	        $('nav ul .thirtyfifth').toggleClass("rotate");
	      }); 

	      $('.aj-btn').click(function(e){
	        $('nav ul .aj-show').toggleClass("show10");
	        $('nav ul .thirtyssixth').toggleClass("rotate");
	      }); 

	      $('.ak-btn').click(function(e){
	        $('nav ul .ak-show').toggleClass("show10");
	        $('nav ul .thirtyseventh').toggleClass("rotate");
	      }); 

	      $('.al-btn').click(function(e){
	        $('nav ul .al-show').toggleClass("show10");
	        $('nav ul .thirtyeighth').toggleClass("rotate");
	      }); 

	      $('.am-btn').click(function(e){
	        $('nav ul .am-show').toggleClass("show10");
	        $('nav ul .thirtynineth').toggleClass("rotate");
	      }); 

	      $('.an-btn').click(function(e){
	        $('nav ul .an-show').toggleClass("show10");
	        $('nav ul .fourtyth').toggleClass("rotate");
	      }); 

	      $('.ao-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .ao-show').toggleClass("show10");
	        $('nav ul .fourtyfirst').toggleClass("rotate");
	      }); 

	      $('.ap-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .ap-show').toggleClass("show10");
	        $('nav ul .fourtysecond').toggleClass("rotate");
	      }); 

	      $('.aq-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .aq-show').toggleClass("show10");
	        $('nav ul .fourtythird').toggleClass("rotate");
	      }); 

	      $('.ar-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .ar-show').toggleClass("show10");
	        $('nav ul .fourtyfourth').toggleClass("rotate");
	      }); 

	      $('.as-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .as-show').toggleClass("show10");
	        $('nav ul .fourtyfifth').toggleClass("rotate");
	      }); 

	      $('.at-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .at-show').toggleClass("show10");
	        $('nav ul .fourtysixth').toggleClass("rotate");
	      }); 

	      $('.au-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .au-show').toggleClass("show10");
	        $('nav ul .fourtyseventh').toggleClass("rotate");
	      }); 

	      $('.av-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .av-show').toggleClass("show10");
	        $('nav ul .fiftyeighth').toggleClass("rotate");
	      }); 

	      $('.aw-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .aw-show').toggleClass("show10");
	        $('nav ul .fiftynineth').toggleClass("rotate");
	      }); 

	      $('.ax-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .ax-show').toggleClass("show10");
	        $('nav ul .fiftyth').toggleClass("rotate");
	      }); 

	      $('.ay-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .ay-show').toggleClass("show10");
	        $('nav ul .fiftyfirst').toggleClass("rotate");
	      }); 

	      $('.az-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .az-show').toggleClass("show10");
	        $('nav ul .fiftysecond').toggleClass("rotate");
	      }); 
	     	 
	     
	     $('.ba-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .ba-show').toggleClass("show10");
	        $('nav ul .z52').toggleClass("rotate");
	      }); 
	     	 
	     $('.bb-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bb-show').toggleClass("show10");
	        $('nav ul .z53').toggleClass("rotate");
	      }); 
	     	 
	     $('.bc-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bc-show').toggleClass("show10");
	        $('nav ul .z54').toggleClass("rotate");
	      }); 
	     
	     $('.bd-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bd-show').toggleClass("show10");
	        $('nav ul .z55').toggleClass("rotate");
	      }); 
	     
	     $('.be-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .be-show').toggleClass("show10");
	        $('nav ul .z56').toggleClass("rotate");
	      }); 
	     
	     $('.bf-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bf-show').toggleClass("show10");
	        $('nav ul .z57').toggleClass("rotate");
	      }); 
	     
	     $('.bg-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bg-show').toggleClass("show10");
	        $('nav ul .z58').toggleClass("rotate");
	      }); 
	     
	     $('.bh-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bh-show').toggleClass("show10");
	        $('nav ul .z59').toggleClass("rotate");
	      }); 
	     
	     $('.bi-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bi-show').toggleClass("show10");
	        $('nav ul .z60').toggleClass("rotate");
	      }); 
	     
	     $('.bj-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bj-show').toggleClass("show10");
	        $('nav ul .z61').toggleClass("rotate");
	      }); 
	     
	     $('.bk-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bk-show').toggleClass("show10");
	        $('nav ul .z62').toggleClass("rotate");
	      }); 
	     
	     $('.bl-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bl-show').toggleClass("show10");
	        $('nav ul .z63').toggleClass("rotate");
	      }); 
	     
	     $('.bm-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bm-show').toggleClass("show10");
	        $('nav ul .z64').toggleClass("rotate");
	      }); 
	     
	     $('.bn-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bn-show').toggleClass("show10");
	        $('nav ul .z65').toggleClass("rotate");
	      }); 
	     
	     $('.bo-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bo-show').toggleClass("show10");
	        $('nav ul .z66').toggleClass("rotate");
	      }); 
	     
	     $('.bp-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bp-show').toggleClass("show10");
	        $('nav ul .z67').toggleClass("rotate");
	      }); 
	     
	     $('.bq-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bq-show').toggleClass("show10");
	        $('nav ul .z68').toggleClass("rotate");
	      }); 
	     
	     $('.br-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .br-show').toggleClass("show10");
	        $('nav ul .z69').toggleClass("rotate");
	      }); 
	     
	     $('.bs-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bs-show').toggleClass("show10");
	        $('nav ul .z70').toggleClass("rotate");
	      }); 
	     
	     $('.bt-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bt-show').toggleClass("show10");
	        $('nav ul .z71').toggleClass("rotate");
	      }); 
	     
	     $('.bu-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bu-show').toggleClass("show10");
	        $('nav ul .z72').toggleClass("rotate");
	      }); 
	     
	     $('.bv-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bv-show').toggleClass("show10");
	        $('nav ul .z73').toggleClass("rotate");
	      }); 
	     
	     $('.bw-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bw-show').toggleClass("show10");
	        $('nav ul .z74').toggleClass("rotate");
	      }); 
	     
	     $('.bx-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bx-show').toggleClass("show10");
	        $('nav ul .z75').toggleClass("rotate");
	      }); 
	     
	     $('.by-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .by-show').toggleClass("show10");
	        $('nav ul .z76').toggleClass("rotate");
	      }); 
	     
	     $('.bz-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .bz-show').toggleClass("show10");
	        $('nav ul .z77').toggleClass("rotate");
	      }); 
	      
	      $('.ca-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .ca-show').toggleClass("show10");
	        $('nav ul .z78').toggleClass("rotate");
	      }); 
	     	 
	     $('.cb-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cb-show').toggleClass("show10");
	        $('nav ul .z79').toggleClass("rotate");
	      }); 
	     	 
	     $('.cc-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cc-show').toggleClass("show10");
	        $('nav ul .z80').toggleClass("rotate");
	      }); 
	     	 
	     $('.cd-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cd-show').toggleClass("show10");
	        $('nav ul .z81').toggleClass("rotate");
	      }); 
	     	 
	     $('.ce-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .ce-show').toggleClass("show10");
	        $('nav ul .z82').toggleClass("rotate");
	      }); 
	     	 
	     $('.cf-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cf-show').toggleClass("show10");
	        $('nav ul .z83').toggleClass("rotate");
	      }); 
	     	 
	     $('.cg-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cg-show').toggleClass("show10");
	        $('nav ul .z84').toggleClass("rotate");
	      }); 
	     	 
	     $('.ch-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .ch-show').toggleClass("show10");
	        $('nav ul .z85').toggleClass("rotate");
	      }); 
	     	 
	     $('.ci-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .ci-show').toggleClass("show10");
	        $('nav ul .z86').toggleClass("rotate");
	      }); 
	     	 
	     $('.cj-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cj-show').toggleClass("show10");
	        $('nav ul .z87').toggleClass("rotate");
	      }); 
	     	 
	     $('.ck-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .ck-show').toggleClass("show10");
	        $('nav ul .z88').toggleClass("rotate");
	      }); 
	     	 
	     $('.cl-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cl-show').toggleClass("show10");
	        $('nav ul .z89').toggleClass("rotate");
	      }); 
	     	 
	     $('.cm-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cm-show').toggleClass("show10");
	        $('nav ul .z90').toggleClass("rotate");
	      }); 
	     	 
	     $('.cn-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cn-show').toggleClass("show10");
	        $('nav ul .z91').toggleClass("rotate");
	      }); 
	     	 
	     $('.co-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .co-show').toggleClass("show10");
	        $('nav ul .z92').toggleClass("rotate");
	      }); 
	     	 
	     $('.cp-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cp-show').toggleClass("show10");
	        $('nav ul .z93').toggleClass("rotate");
	      }); 
	     	 
	     $('.cq-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cq-show').toggleClass("show10");
	        $('nav ul .z94').toggleClass("rotate");
	      }); 
	     	 
	     $('.cr-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cr-show').toggleClass("show10");
	        $('nav ul .z95').toggleClass("rotate");
	      }); 
	     	 
	     $('.cs-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cs-show').toggleClass("show10");
	        $('nav ul .z96').toggleClass("rotate");
	      }); 
	     	 
	     $('.ct-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .ct-show').toggleClass("show10");
	        $('nav ul .z97').toggleClass("rotate");
	      }); 
	     	 
	     $('.cu-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cu-show').toggleClass("show10");
	        $('nav ul .z98').toggleClass("rotate");
	      }); 
	     	 
	     $('.cv-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cv-show').toggleClass("show10");
	        $('nav ul .z99').toggleClass("rotate");
	      }); 
	     	 
	     $('.cw-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cw-show').toggleClass("show10");
	        $('nav ul .z100').toggleClass("rotate");
	      }); 
	     	 
	     $('.cx-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cx-show').toggleClass("show10");
	        $('nav ul .z101').toggleClass("rotate");
	      }); 
	     	 
	     $('.cy-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cy-show').toggleClass("show10");
	        $('nav ul .z102').toggleClass("rotate");
	      }); 
	     	 
	     $('.cz-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .cz-show').toggleClass("show10");
	        $('nav ul .z103').toggleClass("rotate");
	      }); 
	      
	       $('.da-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .da-show').toggleClass("show10");
	        $('nav ul .z104').toggleClass("rotate");
	      }); 
	     	 
	     	$('.db-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .db-show').toggleClass("show10");
	        $('nav ul .z105').toggleClass("rotate");
	      }); 
	     	 
	     	$('.dc-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .dc-show').toggleClass("show10");
	        $('nav ul .z106').toggleClass("rotate");
	      }); 
	     	 
	     	$('.dd-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .dd-show').toggleClass("show10");
	        $('nav ul .z107').toggleClass("rotate");
	      }); 
	     	 
	     	$('.de-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .de-show').toggleClass("show10");
	        $('nav ul .z108').toggleClass("rotate");
	      }); 
	     	 
	     	$('.df-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .df-show').toggleClass("show10");
	        $('nav ul .z109').toggleClass("rotate");
	      }); 
	     	 
	     	$('.dg-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .dg-show').toggleClass("show10");
	        $('nav ul .z110').toggleClass("rotate");
	      }); 
	     	 
	     	$('.dh-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .dh-show').toggleClass("show10");
	        $('nav ul .z111').toggleClass("rotate");
	      }); 
	     	 
	     	$('.di-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .di-show').toggleClass("show10");
	        $('nav ul .z112').toggleClass("rotate");
	      }); 
	     	 
	     	$('.dj-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .dj-show').toggleClass("show10");
	        $('nav ul .z113').toggleClass("rotate");
	      }); 
	     	 
	     	$('.dk-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .dk-show').toggleClass("show10");
	        $('nav ul .z114').toggleClass("rotate");
	      }); 
	     	 
	     	$('.dl-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .dl-show').toggleClass("show10");
	        $('nav ul .z115').toggleClass("rotate");
	      }); 
	     	 
	     	$('.dm-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .dm-show').toggleClass("show10");
	        $('nav ul .z116').toggleClass("rotate");
	      }); 
	     	 
	     	$('.dn-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .dn-show').toggleClass("show10");
	        $('nav ul .z117').toggleClass("rotate");
	      }); 
	     	 
	     	$('.do-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .do-show').toggleClass("show10");
	        $('nav ul .z118').toggleClass("rotate");
	      }); 
	     	 
	     	$('.dp-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .dp-show').toggleClass("show10");
	        $('nav ul .z119').toggleClass("rotate");
	      }); 
	     	 
	     	$('.dq-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .dq-show').toggleClass("show10");
	        $('nav ul .z120').toggleClass("rotate");
	      }); 
	     	 
	     	$('.dr-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .dr-show').toggleClass("show10");
	        $('nav ul .z121').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ds-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ds-show').toggleClass("show10");
	        $('nav ul .z122').toggleClass("rotate");
	      }); 
	     	 
	     	$('.dt-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .dt-show').toggleClass("show10");
	        $('nav ul .z123').toggleClass("rotate");
	      }); 
	     	 
	     	$('.du-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .du-show').toggleClass("show10");
	        $('nav ul .z124').toggleClass("rotate");
	      }); 
	     	 
	     	$('.dv-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .dv-show').toggleClass("show10");
	        $('nav ul .z125').toggleClass("rotate");
	      }); 
	     	 
	     	$('.dw-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .dw-show').toggleClass("show10");
	        $('nav ul .z126').toggleClass("rotate");
	      }); 
	     	 
	     	$('.dx-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .dx-show').toggleClass("show10");
	        $('nav ul .z127').toggleClass("rotate");
	      }); 
	     	 
	     	$('.dy-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .dy-show').toggleClass("show10");
	        $('nav ul .z128').toggleClass("rotate");
	      }); 
	     	 
	     	$('.dz-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .dz-show').toggleClass("show10");
	        $('nav ul .z129').toggleClass("rotate");
	      }); 
	     	 
	      
	     	 
	     $('.ea-btn').click(function(e){
	    	  e.preventDefault()
	    	  e.stopPropagation()
	        $('nav ul .ea-show').toggleClass("show10");
	        $('nav ul .z130').toggleClass("rotate");
	      }); 
	     	 
	     	$('.eb-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .eb-show').toggleClass("show10");
	        $('nav ul .z131').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ec-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ec-show').toggleClass("show10");
	        $('nav ul .z132').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ed-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ed-show').toggleClass("show10");
	        $('nav ul .z133').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ee-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ee-show').toggleClass("show10");
	        $('nav ul .z134').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ef-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ef-show').toggleClass("show10");
	        $('nav ul .z135').toggleClass("rotate");
	      }); 
	     	 
	     	$('.eg-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .eg-show').toggleClass("show10");
	        $('nav ul .z136').toggleClass("rotate");
	      }); 
	     	 
	     	$('.eh-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .eh-show').toggleClass("show10");
	        $('nav ul .z137').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ei-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ei-show').toggleClass("show10");
	        $('nav ul .z138').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ej-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ej-show').toggleClass("show10");
	        $('nav ul .z139').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ek-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ek-show').toggleClass("show10");
	        $('nav ul .z140').toggleClass("rotate");
	      }); 
	     	 
	     	$('.el-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .el-show').toggleClass("show10");
	        $('nav ul .z141').toggleClass("rotate");
	      }); 
	     	 
	     	$('.em-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .em-show').toggleClass("show10");
	        $('nav ul .z142').toggleClass("rotate");
	      }); 
	     	 
	     	$('.en-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .en-show').toggleClass("show10");
	        $('nav ul .z143').toggleClass("rotate");
	      }); 
	     	 
	     	$('.eo-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .eo-show').toggleClass("show10");
	        $('nav ul .z144').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ep-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ep-show').toggleClass("show10");
	        $('nav ul .z145').toggleClass("rotate");
	      }); 
	     	 
	     	$('.eq-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .eq-show').toggleClass("show10");
	        $('nav ul .z146').toggleClass("rotate");
	      }); 
	     	 
	     	$('.er-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .er-show').toggleClass("show10");
	        $('nav ul .z147').toggleClass("rotate");
	      }); 
	     	 
	     	$('.es-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .es-show').toggleClass("show10");
	        $('nav ul .z148').toggleClass("rotate");
	      }); 
	     	 
	     	$('.et-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .et-show').toggleClass("show10");
	        $('nav ul .z149').toggleClass("rotate");
	      }); 
	     	 
	     	$('.eu-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .eu-show').toggleClass("show10");
	        $('nav ul .z150').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ev-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ev-show').toggleClass("show10");
	        $('nav ul .z151').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ew-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ew-show').toggleClass("show10");
	        $('nav ul .z152').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ex-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ex-show').toggleClass("show10");
	        $('nav ul .z153').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ey-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ey-show').toggleClass("show10");
	        $('nav ul .z154').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ez-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ez-show').toggleClass("show10");
	        $('nav ul .z155').toggleClass("rotate");
	      }); 
	      
	      	$('.fa-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fa-show').toggleClass("show10");
	        $('nav ul .z156').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fb-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fb-show').toggleClass("show10");
	        $('nav ul .z157').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fc-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fc-show').toggleClass("show10");
	        $('nav ul .z158').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fd-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fd-show').toggleClass("show10");
	        $('nav ul .z159').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fe-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fe-show').toggleClass("show10");
	        $('nav ul .z160').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ff-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ff-show').toggleClass("show10");
	        $('nav ul .z161').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fg-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fg-show').toggleClass("show10");
	        $('nav ul .z162').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fh-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fh-show').toggleClass("show10");
	        $('nav ul .z163').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fi-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fi-show').toggleClass("show10");
	        $('nav ul .z164').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fj-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fj-show').toggleClass("show10");
	        $('nav ul .z165').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fk-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fk-show').toggleClass("show10");
	        $('nav ul .z166').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fl-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fl-show').toggleClass("show10");
	        $('nav ul .z167').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fm-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fm-show').toggleClass("show10");
	        $('nav ul .z168').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fn-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fn-show').toggleClass("show10");
	        $('nav ul .z169').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fo-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fo-show').toggleClass("show10");
	        $('nav ul .z170').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fp-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fp-show').toggleClass("show10");
	        $('nav ul .z171').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fq-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fq-show').toggleClass("show10");
	        $('nav ul .z172').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fr-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fr-show').toggleClass("show10");
	        $('nav ul .z173').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fs-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fs-show').toggleClass("show10");
	        $('nav ul .z174').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ft-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ft-show').toggleClass("show10");
	        $('nav ul .z175').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fu-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fu-show').toggleClass("show10");
	        $('nav ul .z176').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fv-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fv-show').toggleClass("show10");
	        $('nav ul .z177').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fw-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fw-show').toggleClass("show10");
	        $('nav ul .z178').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fx-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fx-show').toggleClass("show10");
	        $('nav ul .z179').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fy-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fy-show').toggleClass("show10");
	        $('nav ul .z180').toggleClass("rotate");
	      }); 
	     	 
	     	$('.fz-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .fz-show').toggleClass("show10");
	        $('nav ul .z181').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ga-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ga-show').toggleClass("show10");
	        $('nav ul .z182').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gb-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gb-show').toggleClass("show10");
	        $('nav ul .z183').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gc-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gc-show').toggleClass("show10");
	        $('nav ul .z184').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gd-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gd-show').toggleClass("show10");
	        $('nav ul .z185').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ge-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ge-show').toggleClass("show10");
	        $('nav ul .z186').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gf-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gf-show').toggleClass("show10");
	        $('nav ul .z187').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gg-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gg-show').toggleClass("show10");
	        $('nav ul .z188').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gh-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gh-show').toggleClass("show10");
	        $('nav ul .z189').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gi-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gi-show').toggleClass("show10");
	        $('nav ul .z190').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gj-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gj-show').toggleClass("show10");
	        $('nav ul .z191').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gk-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gk-show').toggleClass("show10");
	        $('nav ul .z192').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gl-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gl-show').toggleClass("show10");
	        $('nav ul .z193').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gm-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gm-show').toggleClass("show10");
	        $('nav ul .z194').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gn-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gn-show').toggleClass("show10");
	        $('nav ul .z195').toggleClass("rotate");
	      }); 
	     	 
	     	$('.go-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .go-show').toggleClass("show10");
	        $('nav ul .z196').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gp-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gp-show').toggleClass("show10");
	        $('nav ul .z197').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gq-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gq-show').toggleClass("show10");
	        $('nav ul .z198').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gr-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gr-show').toggleClass("show10");
	        $('nav ul .z199').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gs-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gs-show').toggleClass("show10");
	        $('nav ul .z200').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gt-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gt-show').toggleClass("show10");
	        $('nav ul .z201').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gu-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gu-show').toggleClass("show10");
	        $('nav ul .z202').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gv-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gv-show').toggleClass("show10");
	        $('nav ul .z203').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gw-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gw-show').toggleClass("show10");
	        $('nav ul .z204').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gx-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gx-show').toggleClass("show10");
	        $('nav ul .z205').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gy-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gy-show').toggleClass("show10");
	        $('nav ul .z206').toggleClass("rotate");
	      }); 
	     	 
	     	$('.gz-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .gz-show').toggleClass("show10");
	        $('nav ul .z207').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ha-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ha-show').toggleClass("show10");
	        $('nav ul .z208').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hb-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hb-show').toggleClass("show10");
	        $('nav ul .z209').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hc-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hc-show').toggleClass("show10");
	        $('nav ul .z210').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hd-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hd-show').toggleClass("show10");
	        $('nav ul .z211').toggleClass("rotate");
	      }); 
	     	 
	     	$('.he-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .he-show').toggleClass("show10");
	        $('nav ul .z212').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hf-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hf-show').toggleClass("show10");
	        $('nav ul .z213').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hg-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hg-show').toggleClass("show10");
	        $('nav ul .z214').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hh-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hh-show').toggleClass("show10");
	        $('nav ul .z215').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hi-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hi-show').toggleClass("show10");
	        $('nav ul .z216').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hj-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hj-show').toggleClass("show10");
	        $('nav ul .z217').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hk-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hk-show').toggleClass("show10");
	        $('nav ul .z218').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hl-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hl-show').toggleClass("show10");
	        $('nav ul .z219').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hm-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hm-show').toggleClass("show10");
	        $('nav ul .z220').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hn-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hn-show').toggleClass("show10");
	        $('nav ul .z221').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ho-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ho-show').toggleClass("show10");
	        $('nav ul .z222').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hp-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hp-show').toggleClass("show10");
	        $('nav ul .z223').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hq-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hq-show').toggleClass("show10");
	        $('nav ul .z224').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hr-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hr-show').toggleClass("show10");
	        $('nav ul .z225').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hs-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hs-show').toggleClass("show10");
	        $('nav ul .z226').toggleClass("rotate");
	      }); 
	     	 
	     	$('.ht-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .ht-show').toggleClass("show10");
	        $('nav ul .z227').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hu-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hu-show').toggleClass("show10");
	        $('nav ul .z228').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hv-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hv-show').toggleClass("show10");
	        $('nav ul .z229').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hw-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hw-show').toggleClass("show10");
	        $('nav ul .z230').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hx-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hx-show').toggleClass("show10");
	        $('nav ul .z231').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hy-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hy-show').toggleClass("show10");
	        $('nav ul .z232').toggleClass("rotate");
	      }); 
	     	 
	     	$('.hz-btn').click(function(e){
		    	  e.preventDefault()
		    	  e.stopPropagation()
	        $('nav ul .hz-show').toggleClass("show10");
	        $('nav ul .z233').toggleClass("rotate");
	      }); 
	     	 
	     	 
	     	 
	     	 
	     	 
	     	 
	     	 
	     	 
	     	      
	      $('nav ul li').click(function(e){
	        $(this).addClass("active").siblings().removeClass("active");
	      });
	      
	      
	      
	      
	      
	      
	  
			$('.dinheiro').mask('###0.00', {reverse: true});
			
			
			
 
	            
	</script>
</body>
</html>