<!DOCTYPE html>
<html>
<head>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


<meta charset="UTF-8">
<title>GENTE-WEB</title>
</head>
<body>
	
	<div class="container-login centralizar-vertical-login">
    <div class="row">
        <div class="col-md-offset-5 col-md-3 col-sm-8">
            <form th:action="@{/login}" method="post">
	            <div class="form-login ">
	            <h2>Sistema Gente-Web</h2>
	            <h4>Login</h4>
	            <p></p>
	            <input type="text" id="username" name="username" class="form-control input-sm chat-input" placeholder="Usuário" />
	            </br>
	            <input type="text" id="password" name="password" class="form-control input-sm chat-input" placeholder="Senha" />
	            </br>
	            <div class="wrapper-login">
	            <span class="group-btn">     
	                <button type="submit" class="btn btn-outline-dark  fa fa-sign-in">. Acessar</button>
	            </span>
	            </div>
	            </div>
        	</form>
        </div>
    </div>
</div>
	
	

</body>
</html>




