<!DOCTYPE html>
<html lang="pt" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="/image/favicon.png" />

<title th:text="${status}"></title>

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="/webjars/open-iconic/font/css/open-iconic-bootstrap.min.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />
</head>		
<body class="text-center">
	<div>
		<h1 class="h3 mb-3 font-weight-normal">
			<p></p>
			<a class="btn btn-outline-warning" type="button" href="javascript:history.back()">Voltar a página anterior</a>
			<p></p>
			<Label><h1>Ops!!!!</h1>
			<p></p> 
			<h3>Algo deu errado.</h3></Label>
			<p></p>
			<div class="span12" >
		        <img src="/image/bloqueado.jpg" heigh = "300px" width="300px"/>
		    </div>
			<span th:text="${atencao}"></span>
		</h1>
		
		<h2 th:text="${choque}"></h2>
		
		<div>
			<h4><span th:text="${mensagem}"></span></h4> <br/><br/>
			
		</div>
	</div>
</body>
</html>	