<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body> 
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<form th:action="@{/faixasValoresFolhExt/listar}">
				<div class=" layout-content">
					<a class="btn btn-outline-light oi oi-action-undo" type="button" href="javascript:history.back()"></a>
					<a class="btn btn-outline-light oi oi-action-redo" type="button" href="javascript:history.forward()"></a>
					<button class="btn btn-outline-dark" >Listar</button>
					<a class="btn btn-outline-dark btn-md" th:href="@{/faixasValoresFolhExt/funcionarios/listar}"
						role="button"> <span class="oi oi-plus" title="Cadastro"
						aria-hidden="true"></span> <span>Novo</span>
					</a>
				</div> 
			</form>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>
			<form
				th:action="${faixasValoresFolhExt.id == null} ? @{/faixasValoresFolhExt/salvar} : @{/faixasValoresFolhExt/salvar}"
				th:object="${faixasValoresFolhExt}" method="POST">
				<div class="form-row">

					<div class="form-group col-md-6">
						<label for="nome" class="fonte-tutulos-tamanho">Faixas Valores Folha Extra</label>
							<p></p>
							
							<label for="nome" class="" th:text = "*{idFuncionarioFk.idPessoaFk.nome} +'-'+ *{'Cpf : '+idFuncionarioFk.idPessoaFk.cpf} +'-'+ *{'Mat : '+idFuncionarioFk.matricula }">Mês </label>
								
							<p></p>
							<label for="nome" class="">Mês </label>
							<select id="idCodDiferenciadoFk" class="form-select" th:field="*{idAnoMesFk}">
								<option value="">Selecione o Mes</option>
								<option class="form-select" th:each="d : ${idAnoMesFk}" th:value="${d.id}"th:text="${d.nomeAnoMes}" selected >ADM</option>
							</select>	
							<p></p>	
							
							<label for="nome" class="">Nível do Cargo </label>
							<select id="idNivelCarreiraFk" class="form-select" th:field="*{idNivelCargoFk}">
								<option value="">Selecione Nível da Carreira</option>
								<option class="form-select" th:each="d : ${idNivelCargoFk}" th:value="${d.id}"th:text="${d.nomeNivelCargo}" selected >ADM</option>
							</select>	
							<p></p>	
							
							<label for="nome" class="">Carga Horária Semanal </label>
							<select id="idCargaHorariaSemanalFk" class="form-select" th:field="*{idCargaHorariaSemanalFk}">
								<option value="">Selecione Carga Horária Semanal</option>
								<option class="form-select" th:each="d : ${idCargaHorariaSemanalFk}" th:value="${d.id}"th:text="${d.cargaHoraria}" selected >ADM</option>
							</select>	
							<p></p>	
							
							<label for="nome" class="">Tipo Bruto Líquido </label>
							<select id="idFonteFk" class="form-select" th:field="*{idTipoBrutoLiquidoFk}">
								<option value="">Selecione Tipo Bruto Líquido</option>
								<option class="form-select" th:each="d : ${idTipoBrutoLiquidoFk}" th:value="${d.id}"th:text="${d.descricao}" selected >ADM</option>
							</select>
							<p></p>
							
							<label for="nome" class="">Fonte </label>
							<select id="idFonteFk" class="form-select" th:field="*{idFonteFk}">
								<option value="">Selecione a Fonte</option>
								<option class="form-select" th:each="d : ${idFonteFk}" th:value="${d.id}"th:text="${d.nome}" selected >ADM</option>
							</select>
							<p></p>
							
							<label for="nome" class="">Unidade </label>
							<select id="idFonteFk" class="form-select" th:field="*{idUnidadeFk}">
								<option value="">Selecione a Unidade</option>
								<option class="form-select" th:each="d : ${idUnidadeFk}" th:value="${d.id}"th:text="${d.nomeFantasia}" selected >ADM</option>
							</select>
							<p></p>
							
							<label for="nome" class="">Valor </label>							
							<input type="text"
								class=" form-control form-control-md"  
								id="valorHoraDia" placeholder="Valor " th:field="*{valor}" /> 
							<p></p>
											
							<label for="nome" class="">Observação </label>
							<input type="text"
								class="form-control form-control-md uppercase" autofocus="autofocus"
								id="descricaoEstadoCivil" placeholder="Observação" th:field="*{observacao}" />						
							<p></p>
											
							<input type="hidden" id="id" th:field="*{id}" />					
							<input type="hidden" id="id" th:field="*{idFuncionarioFk}" />													
							<p></p>
												
						<button class="btn btn-outline-dark">Cadastrar</button>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>
