<!DOCTYPE html>
<html layout:decorate = "~{layout}">
<head><meta charset="UTF-8"/></head>
<body>	
	<section class="layout-content" layout:fragment="corpo">		
		<tr th:each="d : ${funcionario}">
		<nav class="navbar navbar-expand-md bg-light" >
      		<a class="btn btn-outline-light oi oi-action-undo" type="button" href="javascript:history.back()"></a>
			<a class="btn btn-outline-light oi oi-action-redo" type="button" href="javascript:history.forward()"></a>    
	    	<a class="btn btn-outline-dark btn-md" th:href="@{/funcionariosferias/ferias/{id} (id=${d.id})}" role="button">
	        	<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
	            <span>Novo</span>
	        </a>
	        <a class="btn btn-outline-dark btn-md" th:href="@{/funcionariosferias/ferias/listar/{id} (id=${d.id})}" role="button">
	        	<span class="oi oi-loop-square" title="Atualizar" aria-hidden="true"></span>
	            <span>Atualizar</span>
	        </a>
	        <a class="btn btn-outline-dark btn-md" th:href="@{/funcionariosferias/funcionarios/listar}"
						role="button"> <span class="oi oi-plus" title="Cadastro"
						aria-hidden="true"></span> <span>Lista de Funcionários</span>
			</a>
	            	                             		
	    </nav>
	  	<div class="container">

	  		<td style="font-size:11px;"  th:text="${d.idPessoaFk.nome +' | '}"></td>
	  		<td style="font-size:11px;"  th:text="${d.idPessoaFk.cpf +' | '}"></td>
	  		<td style="font-size:11px;"  th:text="${d.matricula +' | '}"></td>
			<td style="font-size:11px;"  th:text="${d.idEspecialidadeAtualFk.idCargoFk.nomeCargo+'-'+d.idEspecialidadeAtualFk.nomeEspecialidadeCargo}"></td> 
			<td colspan="2"> 
	    	
				<p>                
	        		<button class=" oi oi-magnifying-glass btn btn-outline-success my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#collapseNome"
	            		aria-controls="collapseNome">Filtrar
	            	</button>
	   		 	</p>
	    <div class="row">
	     <label for="nome" class= "fonte-tutulos-tamanho">Lista de Férias </label>
	    	<div class="col">
	        	<div class="collapse" id="collapseNome">
		            <nav class="navbar navbar-light bg-light">
	    	           <form class="form-inline" method="GET" th:action="@{/funcionariosferias/buscar/ano/referencia/{id} (id=${d.id})}">
	        	           <input class="form-control mr-sm-2" type="search" placeholder="Ano Referência" aria-label="Search"
	                              th:name="anoReferencia" />
	                       <button class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
	                   </form>
	                </nav>
	            </div>
	    	</div>
	    </div> 
	    
	    <div class="container" id="listagem">	  
	    
	          
	    	<div th:replace="fragments/alert"></div>
	    	
	        <div style="height: 500px; overflow-y: auto;" class="table-responsive">
	        	<table style="width: 1270px;" class="table table-striped table-hover table-sm myTable">
	            	<thead>
	          			<tr>
		                	<th style="font-size:10px;" >#</th>
		                    <th style="font-size:10px;" >Ano Referência </th>
		                    <th style="font-size:10px;" >Ações</th>
	                    </tr>
	                </thead>                  
	                <tbody>
		            	<tr th:each="d : ${funcionariosFerias}">
		                	<td style="font-size:10px;"  th:text="${d.id}"></td>
		                	<td style="font-size:10px;"  ><a th:href="@{/funcionariosferias/periodos/{id} (id=${d.id}) }" ><span th:text="${d.anoReferencia}"></span></a></td>		                    
		                    		                    		           		                  	                    		                     		         		                    
		                    <td colspan="2">
		                    	<a class="btn btn-outline-info btn-sm" th:href="@{/funcionariosferias/editar/{id} (id=${d.id})}" role="button">
		                        	<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
		                        </a>
		                        <a class="btn btn-outline-success btn-sm" th:href="@{/funcionariosferias/ferias/{id} (id=${d.idFuncionarioFk.id}) }" role="button">
		                        	<span class="oi oi-check" title="Cadastrar férias" aria-hidden="true"></span>
		                        </a>
		                        <button th:id="${ 'btn_funcionariosferias/excluir/' + d.id}" type="button" class="btn btn btn-outline-danger btn-sm" 
		                            		data-toggle="modal" data-target="#myModal">
		                                <span class="oi oi-circle-x" title="Exclusão habilitada" aria-hidden="true"></span>
		                        </button>
		                   	</td>
						</tr>
					</tbody>                    
	            </table>
	         </div>
	         
	         
	         
	         
	         
	         
	         	         	
		<p>                
	    	<button class=" oi oi-magnifying-glass btn btn-outline-warning my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#collapsePeriodos"
	        	aria-controls="collapsePeriodos">Ver Períodos
	        </button>
	   	</p>
			
			
			
			
		<div class="col">
	    	<div class="collapse" id="collapsePeriodos">
		   
				<div class="container" id="listagem">	        
			    	<div th:replace="fragments/alert"></div>
			    	
			        <div style="height: 500px; overflow-y: auto;" class="table-responsive">
			        	<table style="width: 1200px;" class="table table-striped table-hover table-sm myTable">
			            	<thead>
			          			<tr>
				                	<th style="font-size:10px;" >#</th>
				                    <th style="font-size:10px;" >Ano </th>
				                    <th style="font-size:10px;" >Data Inicial </th>
				                    <th style="font-size:10px;" >Data Final </th>
				                    <th style="font-size:10px;" >Dias </th>
				                    <th style="font-size:10px;" >Data Assinatura </th>
				                    
				                    <th style="font-size:10px;" >Ações</th>
			                    </tr>
			                </thead>                  
			                <tbody>
				            	<tr th:each="d : ${funcionariosFeriasPeriodos}">
				                	<td style="font-size:10px;"  th:text="${d.id}"></td>
				                	<td style="font-size:10px;"  th:text="${d.anoReferencia != null} ? ${d.anoReferencia} : ''  "></td>		                    
				                	<td style="font-size:10px;"  th:text="${d.dtInicial != null} ? ${#dates.format( d.dtInicial , 'dd/MM/yyyy' )} : ''  "></td>
				                	<td style="font-size:10px;"  th:text="${d.dtFinal != null} ? ${#dates.format( d.dtFinal , 'dd/MM/yyyy' )} : ''  "></td>
				                	<td style="font-size:10px;"  th:text="${d.dias != null} ? ${d.dias} : ''  "></td>
				                	<td style="font-size:10px;"  th:text="${d.dtAssinatura != null} ? ${#dates.format(d.dtAssinatura , 'dd/MM/yyyy' )} : ''  "></td>
				                    		                    		           		                  	                    		                     		         		                    
				                    <td colspan="2">
				                    	<a class="btn btn-outline-info btn-sm" th:href="@{/funcionariosferias/periodos/editar/{id} (id=${d.id})}" role="button">
				                        	<span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
				                        </a>
				                        
				                   	</td>
								</tr>
							</tbody>                    
			            </table>
			         </div>
				</div>	
		
		   </div>
	   </div>
	         
	         
	         
	         
	         
	         
	         
		</div>	      
		
		
		
		
		
		
		
			  
	        <div th:replace="fragments/modal :: modal"></div>   
	</section>	
</body>
</html>		